<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Glide</title>
    <!--fonts-->
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/good-solution-icon.css" rel="stylesheet">
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/angular.panels.css" rel="stylesheet">
    <!-- Anguler Carousel Css -->
    <link href="../css/angular-carousel.css" rel="stylesheet" type="text/css">
    <link href="../css/angular-chart.css" rel="stylesheet" />
    <link href="../css/latest-style.css" rel="stylesheet">
    <!--New Changes From should be add in this css-->
    <link href="../css/custom.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="js/script.js"></script>


    <!--<script src="../lib/ionic/js/angular/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="../lib/ionic/js/angular/angular-messages.js"></script>
    <script src="../lib/ionic/js/angular/angular.panels.js"></script>
    <script src="../lib/ionic/js/angular/signature_pad.js"></script>
    <script src="../lib/ionic/js/angular/chart.js"></script>
    <script src="../lib/ionic/js/angular/angular-chart.js"></script>-->

    <!-- Angular Carousel Js -->
    <!--<script src="../lib/ionic/js/angular/angular-touch.js"></script>
    <script src="../lib/ionic/js/angular/angular-carousel.js"></script>-->
    <!-- Progress js -->
    <!--<script src='../lib/ionic/js/angular/stopExecutionOnTimeout.js?t=1'></script>
    <script src='../lib/ionic/js/angular/angular-count-to.js'></script>-->

    <!-- cordova script (this will be a 404 during development)-->
    <!--<script src="../cordova.js"></script>-->
    <!-- your app's js -->
</head>

<body ng-app="hsw">
    <!--<div class="bar-positive">
        <div class="Fact-finder-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a ng-click="addlead.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
                    <h2 class="header-title text-center">Create Lead</h2>
                </div>
            </div>
        </div>
        <div class="lead_title lead-titlefixed">
            <h2>Personal Details</h2>
        </div>
    </div>
    <ion-content class="ion-content-below-my-video">
        <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
    </ion-content>-->
    <div ng-controller="increaseWidth">
        <header>
            <div class="policy-calculator">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--Policy Terms-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            policy term
                        </div>
                        <div class="calculator-cntrl">
                            <input type="text" class="transperant-cntrl" />
                        </div>
                    </div>
                    <!--Premimum Payment Terms-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            Premium Payment term
                        </div>
                        <div class="calculator-cntrl">
                            <div class="select-deco">
                                <select class="transperant-cntrldrp" ng-model="drpPremiumTerm" name="drpPremiumTerm">
                                    <option value="10">1</option>
                                    <option value="20">2</option>
                                    <option value="30">3</option>
                                    <option value="40">4</option>
                                    <option value="100">5</option>
                                </select>
                            </div>
                            <spna class="years-hint">(Years)</spna>
                        </div>
                    </div>
                    <!--Insured Age-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            insured age
                        </div>
                        <div class="calculator-cntrl">
                            <input type="text" class="transperant-cntrl" />
                        </div>
                    </div>
                    <!--Basic Sum Assured-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            basic sum assured
                        </div>
                        <div class="calculator-cntrl">
                            <input type="text" class="transperant-cntrl basic-sum-box" />
                        </div>
                    </div>
                    <!--Annual Premium-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            annual premium
                        </div>
                        <div class="calculator-cntrl">
                            <input type="text" class="transperant-cntrl annuam-premium-box" />
                        </div>
                    </div>
                    <!--Switch-->
                    <div class="inline-cntrl">
                        <div class="calculator-label">
                            switch
                        </div>
                        <div class="calculator-cntrl">
                            <input type="text" class="transperant-cntrl annuam-premium-box" />
                        </div>
<!--
                        <div class="calculator-cntrl" style="height:40px">
                            <ion-toggle ion-toggle-text="online;offline" ng-model="customText" style="opacity:0">
                                Custom text: <b>{{ customText || false }}</b>
                            </ion-toggle>
                        </div>
-->
                    </div>
                    <!--Go button-->
                    <div class="inline-cntrl">
                        <div class="go-btn">
                            GO <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <!--hsw Dashboard wrapper-->
        <div class="hswdashboard-wrapper">
            <div class="hswdashboard-wrapper-title">
                <span class="black-title">Tata AIA Life Insurance</span>
                <span class="blue-title">Fortune Maxima</span>
            </div>
            <div class="hswdashboard-wrapper-solutiontitle">Solution Illustration</div>
            <!--hsw Graph Wrapper-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                <div class="hsw-graphwrapper">
                    <!--Tool Tip-->
                    <div class="hsw-graphwrapper-tooltipwrapper">
                        <div class="hsw-graphwrapper-rightinfo-tooltipinfo">
                            <div class="">
                                <span>Regular Premium Fund value</span>
                                <span class="tool-tipamount toolblock">42,378,658</span>
                                <span class="tool-tipamount toolblock">+</span>
                                <span>Loyalty Addition</span>
                                <span class="tool-tipamount toolblock">147,831</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--Left bar Info-->
                    <div class="hsw-graphwrapper-leftinfo">
                        <div class="annumalpremium-calendericon">
                            annual premium
                        </div>
                        <span class="annualpremium-calculatoramount">
                            1,23,750
                        </span>
                    </div>
                    <!--Right bar Info-->
                    <div class="hsw-graphwrapper-rightinfo">
                        <div class="maturitypayment-standicon">
                            Total  dmin payments
                        </div>
                        <div class="maturitypayment-amount">10,00,000</div>
                    </div>
                    <div class="clearfix"></div>
                    <!--Animated bar-->
                    <div class="animated-outerbluewrap">
                        <div ng-style="{width:drpPremiumTerm + '%'}" class="animated-bar">
                            <div class="years-animatedtext" ng-hide="drpPremiumTerm == '100'">
                                <div class="years-div">
                                    <span class="year-number">{{drpPremiumTerm}}</span>
                                    <span class="year-char">Yrs</span>
                                </div>
                                <div class="years-text">
                                    end of premium payment term
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--animated-outerbluewrapyears-->
                    <div class="animated-years">
                        <div class="left-years">
                            <div class="years-div">
                                <span class="year-number">1</span>
                                <span class="year-char">Yrs</span>
                            </div>
                            <div class="years-text">
                                start of the plan
                            </div>
                        </div>
                        <div class="right-years">
                            <div class="years-div">
                                <span class="year-number">15</span>
                                <span class="year-char">Yrs</span>
                            </div>
                            <div class="years-text">
                                policy matured
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Proceed to SIS-->

            <div class="proceed-tosis">
                proceed to sis <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</body>

</html>
