<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>Agricultural Questionnaire</title>
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/quetionaire.css" rel="stylesheet">

<!--fonts-->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/angular.panels.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/angular.panels.js"></script>
</head>

<body ng-app="starter" data-ng-controller="defaultController">
<ion-pane>
  <ion-content>
<section class="quetionaire_block">
    <div class="container">
        <form id="agriQuesForm" name="agriQuesForm" ng-submit="agriC.onGenerateOutput()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group custom-form main-form-title">
                        <label class="form-label">Agricultural Questionnaire</label>
                    </div>
                    <div class="row">
                        <div class="quetionaire-block-A">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form main-form-title">
                                    <label class="form-label">A. Details of Land Holding</label>
                                </div>
                                <p>1. Where is the land situated</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">a. Place</label>
                                    <input type="text" class="form-control" name="agriqAnsA1a" ng-model="agriC.agriQuesData.ANS_A1a" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1a.$invalid && !agriQuesForm.agriqAnsA1a.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">b. Survey no/village</label>
                                    <input type="text" class="form-control" name="agriqAnsA1b" ng-model="agriC.agriQuesData.ANS_A1b" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1b.$invalid && !agriQuesForm.agriqAnsA1b.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">c. District</label>
                                    <input type="text" class="form-control" name="agriqAnsA1c" ng-model="agriC.agriQuesData.ANS_A1c" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1c.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1c.$invalid && !agriQuesForm.agriqAnsA1c.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                    <!--<div class="custom-drp">-->
                                        <!--<select class="form-control">-->
                                            <!--<option selected></option>-->
                                            <!--<option>1</option>-->
                                            <!--<option>2</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">d. State</label>
                                    <input type="text" class="form-control" name="agriqAnsA1d" ng-model="agriC.agriQuesData.ANS_A1d" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1d.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1d.$invalid && !agriQuesForm.agriqAnsA1d.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                    <!--<div class="custom-drp">-->
                                        <!--<select class="form-control">-->
                                            <!--<option selected></option>-->
                                            <!--<option>1</option>-->
                                            <!--<option>2</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label lbl-full">e. Total Land under cultivation(Acres/Hectores/Bigha)</label>
                                    <div class="col-50"><input type="number" class="form-control" name="agriqAnsA1e" ng-model="agriC.agriQuesData.ANS_A1e" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1e.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1e.$invalid && !agriQuesForm.agriqAnsA1e.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                        </div>
                                    <div class="col-50">
                                    <select class="form-control" name="agriqAnsA1em" ng-options="option.MM_DISPLAY for option in agriC.mmList track by option.MM_VALUE" ng-change="agriC.mmChg()" ng-model="agriC.mmOptionSelected" select-required ></select>
                                    <div ng-messages="agriQuesForm.agriqAnsA1em.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1em.$invalid && !agriQuesForm.agriqAnsA1em.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="agriC.agriQuesData.ANS_A1em=='Others'">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Please specify if Others </label>
                                    <input type="text" class="form-control" name="agriqAnsA1emReason" ng-model="agriC.agriQuesData.ANS_A1em_Reason" ng-required="agriC.agriQuesData.ANS_A1em=='Others'" ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsA1emReason.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1emReason.$invalid && !agriQuesForm.agriqAnsA1emReason.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">f. Solely Owned/Jointly Owned/ Not Owned but cultivated by you</label>
                                </div>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <!--<label class="form-label">Solely Owned</label>-->
                                        <input type="checkbox" id="agriqAnsA1fS" name="agriqAnsA1fs" ng-model="agriC.agriQuesData.ANS_A1fs" />
                                        <label for="agriqAnsA1fS">Solely Owned</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <!--<label class="form-label">Jointly Owned</label>-->
                                        <input type="checkbox" id="agriqAnsA1fJ" name="agriqAnsA1fj" ng-model="agriC.agriQuesData.ANS_A1fj" ng-change="agriC.setNull('A1fj')" />
                                        <label for="agriqAnsA1fJ">Jointly Owned</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <!--<label class="form-label">Not Owned but cultivated by you</label>-->
                                        <input type="checkbox" id="agriqAnsA1fN" name="agriqAnsA1fn" ng-model="agriC.agriQuesData.ANS_A1fn" ng-change="agriC.setNull('A1fn')" />
                                        <label for="agriqAnsA1fN">Not Owned but cultivated by you</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 que-g-block" ng-show="agriC.agriQuesData.ANS_A1fj==true">
                                <div class="form-group custom-form">
                                    <label  class="form-label label-bold">Land is Jointly Owned by you, please provide the following details</label>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group custom-form">
                                                <label  class="form-label">Area Share of Land owned by you</label>
                                                <input type="number" class="form-control" name="agriqAnsA1g1" ng-model="agriC.agriQuesData.ANS_A1g1" ng-required="agriC.agriQuesData.ANS_A1fj==true" ng-maxlength="20">
                                                <div ng-messages="agriQuesForm.agriqAnsA1g1.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1g1.$invalid && !agriQuesForm.agriqAnsA1g1.$pristine">
                                                    <div ng-message="required">Field cannot be empty.</div>
                                                    <div ng-message="maxlength">only 20 characters.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group custom-form">
                                                <label  class="form-label">% of Share owned by you</label>
                                                <input type="number" class="form-control" name="agriqAnsA1g2" ng-model="agriC.agriQuesData.ANS_A1g2" ng-required="agriC.agriQuesData.ANS_A1fj==true" ng-maxlength="20">
                                                <div ng-messages="agriQuesForm.agriqAnsA1g2.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1g2.$invalid && !agriQuesForm.agriqAnsA1g2.$pristine">
                                                    <div ng-message="required">Field cannot be empty.</div>
                                                    <div ng-message="maxlength">only 20 characters.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group custom-form">
                                                <label  class="form-label">Number of Owners of the Land</label>
                                                <input type="number" class="form-control" name="agriqAnsA1g3" ng-model="agriC.agriQuesData.ANS_A1g3" ng-required="agriC.agriQuesData.ANS_A1fj==true" ng-maxlength="20">
                                                <div ng-messages="agriQuesForm.agriqAnsA1g3.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1g3.$invalid && !agriQuesForm.agriqAnsA1g3.$pristine">
                                                    <div ng-message="required">Field cannot be empty.</div>
                                                    <div ng-message="maxlength">only 20 characters.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group custom-form">
                                                <label  class="form-label">Relationship with the shared Land Owners</label>
                                                <input type="text" class="form-control" name="agriqAnsA1g4" ng-model="agriC.agriQuesData.ANS_A1g4" ng-required="agriC.agriQuesData.ANS_A1fj==true" ng-maxlength="20">
                                                <div ng-messages="agriQuesForm.agriqAnsA1g4.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1g4.$invalid && !agriQuesForm.agriqAnsA1g4.$pristine">
                                                    <div ng-message="required">Field cannot be empty.</div>
                                                    <div ng-message="maxlength">only 20 characters.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="agriC.agriQuesData.ANS_A1fn==true">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Land not owned by you but only cultivated by you:(Please provide below name of the owner and submit relevant document if available):Any profit sharing/lease agreement if Land is not owned but farming is only cultivated by you:</label>
                                    <input type="text" class="form-control" name="agriqAnsA1h" ng-model="agriC.agriQuesData.ANS_A1h" ng-required="agriC.agriQuesData.ANS_A1fn==true" ng-maxlength="100">
                                    <div ng-messages="agriQuesForm.agriqAnsA1h.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsA1h.$invalid && !agriQuesForm.agriqAnsA1h.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 100 characters.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--end of block A-->
                        <div class="quetionaire-block-B">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form main-form-title">
                                    <label class="form-label">B. Details of Crops / Fruits / Vegetables grown:-</label>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="table-responsive tbl_full">
  <tbody>
    <tr>
      <th><div class="form-group custom-form">
          <label  class="form-label">Crop Name</label>
        </div>
      </th>
      <th> <div class="form-group custom-form">
          <label  class="form-label">Area under cultivation</label>
        </div>
      </th>
      <th> <div class="form-group custom-form">
          <label  class="form-label">Season of crop grown</label>
        </div>
      </th>
      <th> <div class="form-group custom-form">
          <label  class="form-label">No. of times the crop is grown</label>
        </div>
      </th>
      <th> <div class="form-group custom-form">
          <label  class="form-label">Yield of Crop Quintal In (1 Quintal = 100 Kg)</label>
        </div>
      </th>
      <th> <div class="form-group custom-form">
          <label  class="form-label">Market Value of the Crop (per quintal)</label>
        </div>
      </th>
    </tr>
    <tr>
      <td><div class="form-group custom-form">
          <input type="text" class="form-control" name="agriqAnsB1a" ng-model="agriC.agriQuesData.ANS_B1a" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1a.$invalid && !agriQuesForm.agriqAnsB1a.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
      <td><div class="form-group custom-form">
          <input type="text" class="form-control" name="agriqAnsB1b" ng-model="agriC.agriQuesData.ANS_B1b" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1b.$invalid && !agriQuesForm.agriqAnsB1b.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
      <td><div class="form-group custom-form">
          <input type="text" class="form-control" name="agriqAnsB1c" ng-model="agriC.agriQuesData.ANS_B1c" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1c.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1c.$invalid && !agriQuesForm.agriqAnsB1c.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
      <td><div class="form-group custom-form">
          <input type="number" class="form-control" name="agriqAnsB1d" ng-model="agriC.agriQuesData.ANS_B1d" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1d.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1d.$invalid && !agriQuesForm.agriqAnsB1d.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
      <td><div class="form-group custom-form">
          <input type="number" class="form-control" name="agriqAnsB1e" ng-model="agriC.agriQuesData.ANS_B1e" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1e.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1e.$invalid && !agriQuesForm.agriqAnsB1e.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
      <td><div class="form-group custom-form">
          <input type="number" class="form-control" name="agriqAnsB1f" ng-model="agriC.agriQuesData.ANS_B1f" required ng-maxlength="25">
          <div ng-messages="agriQuesForm.agriqAnsB1f.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1f.$invalid && !agriQuesForm.agriqAnsB1f.$pristine">
            <div ng-message="required">Field cannot be empty.</div>
            <div ng-message="maxlength">only 25 characters.</div>
          </div>
        </div></td>
    </tr>
  </tbody>
</table>

                            </div>
<!--
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Crop Name</label>
                                    <input type="text" class="form-control" name="agriqAnsB1a" ng-model="agriC.agriQuesData.ANS_B1a" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1a.$invalid && !agriQuesForm.agriqAnsB1a.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Area under cultivation</label>
                                    <input type="text" class="form-control" name="agriqAnsB1b" ng-model="agriC.agriQuesData.ANS_B1b" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1b.$invalid && !agriQuesForm.agriqAnsB1b.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Season of crop grown</label>
                                    <input type="text" class="form-control" name="agriqAnsB1c" ng-model="agriC.agriQuesData.ANS_B1c" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1c.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1c.$invalid && !agriQuesForm.agriqAnsB1c.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">No. of times the crop is grown</label>
                                    <input type="number" class="form-control" name="agriqAnsB1d" ng-model="agriC.agriQuesData.ANS_B1d" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1d.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1d.$invalid && !agriQuesForm.agriqAnsB1d.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Yield of Crop Quintal In (1 Quintal = 100 Kg)</label>
                                    <input type="number" class="form-control" name="agriqAnsB1e" ng-model="agriC.agriQuesData.ANS_B1e" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1e.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1e.$invalid && !agriQuesForm.agriqAnsB1e.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label  class="form-label">Market Value of the Crop (per quintal)</label>
                                    <input type="number" class="form-control" name="agriqAnsB1f" ng-model="agriC.agriQuesData.ANS_B1f" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsB1f.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsB1f.$invalid && !agriQuesForm.agriqAnsB1f.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                        <!--end of block B-->
                        <div class="quetionaire-block-C">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form main-form-title">
                                    <label class="form-label">C. Details of Cultivation :-</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">1. Since how many years the land is under cultivation?</label>
                                    <input type="number" class="form-control" name="agriqAnsC1" ng-model="agriC.agriQuesData.ANS_C1" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC1.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC1.$invalid && !agriQuesForm.agriqAnsC1.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">2. Type of Irrigation used for farming (example: Well water irrigation, Tank water irrigation, Canal Irrigation, Perennial Canals Irrigation etc...). :</label>
                                    <input type="text" class="form-control" name="agriqAnsC2" ng-model="agriC.agriQuesData.ANS_C2" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC2.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC2.$invalid && !agriQuesForm.agriqAnsC2.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">3. Does the land under cultivation has continuous water supply:</label>
                                    <input type="text" class="form-control" name="agriqAnsC3" ng-model="agriC.agriQuesData.ANS_C3" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC3.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC3.$invalid && !agriQuesForm.agriqAnsC3.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">4. Has there been any droughts/floods/any other natural calamities in the last 3 years which has affected your yield?</label>
                                    <input type="text" class="form-control" name="agriqAnsC4" ng-model="agriC.agriQuesData.ANS_C4" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC4.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC4.$invalid && !agriQuesForm.agriqAnsC4.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">5. Do you sell the produce directly to Government or Private / Public Limited Company:</label>
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsC5Y" name="agriqAnsC5" value="Y" ng-model="agriC.agriQuesData.ANS_C5" required />
                                            <label for="agriqAnsC5Y">Yes</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsC5N" name="agriqAnsC5" value="N" ng-model="agriC.agriQuesData.ANS_C5" ng-change="agriC.setNull('C5')" required />
                                            <label for="agriqAnsC5N">No</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="agriC.agriQuesData.ANS_C5=='Y'">
                                <div class="form-group custom-form">
                                    <label  class="form-label">If yes, please provide details of the organization / department details:</label>
                                    <input type="text" class="form-control" name="agriqAnsC5Reason" ng-model="agriC.agriQuesData.ANS_C5Reason" ng-required="agriC.agriQuesData.ANS_C5=='Y'" ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC5Reason.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC5Reason.$invalid && !agriQuesForm.agriqAnsC5Reason.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">6. Where do you sell the agricultural produce? (Provide name of APMC market / Mandi / Open market/ Co-operative society/ corporate houses / Exports etc.):</label>
                                    <input type="text" class="form-control" name="agriqAnsC6" ng-model="agriC.agriQuesData.ANS_C6" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC6.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC6.$invalid && !agriQuesForm.agriqAnsC6.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">7. Provide the name, address of the commission agent / purchaser of the produce:</label>
                                    <input type="text" class="form-control" name="agriqAnsC7" ng-model="agriC.agriQuesData.ANS_C7" required  ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC7.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC7.$invalid && !agriQuesForm.agriqAnsC7.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label  class="form-label">8. Do you file tax:</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label class="form-label">Income tax</label>
                                            <div class="tick-radio-wrap">
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8aY" name="agriqAnsC8a" value="Y" ng-model="agriC.agriQuesData.ANS_C8a" required />
                                                    <label for="agriqAnsC8aY">Yes</label>
                                                </div>
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8aN" name="agriqAnsC8a" value="N" ng-model="agriC.agriQuesData.ANS_C8a" required />
                                                    <label for="agriqAnsC8aN">No</label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label class="form-label">Wealth tax</label>
                                            <div class="tick-radio-wrap">
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8bY" name="agriqAnsC8b" value="Y" ng-model="agriC.agriQuesData.ANS_C8b" required />
                                                    <label for="agriqAnsC8bY">Yes</label>
                                                </div>
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8bN" name="agriqAnsC8b" value="N" ng-model="agriC.agriQuesData.ANS_C8b" required />
                                                    <label for="agriqAnsC8bN">No</label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label class="form-label">Property tax</label>
                                            <div class="tick-radio-wrap">
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8cY" name="agriqAnsC8c" value="Y" ng-model="agriC.agriQuesData.ANS_C8c" required />
                                                    <label for="agriqAnsC8cY">Yes</label>
                                                </div>
                                                <div class="tick-radio-btn-wrap">
                                                    <input type="radio" id="agriqAnsC8cN" name="agriqAnsC8c" value="N" ng-model="agriC.agriQuesData.ANS_C8c" required />
                                                    <label for="agriqAnsC8cN">No</label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">9. Any other source of income apart from the agriculture? If so, please give details.</label>
                                    <input type="text" class="form-control" name="agriqAnsC9" ng-model="agriC.agriQuesData.ANS_C9" required ng-maxlength="100">
                                    <div ng-messages="agriQuesForm.agriqAnsC9.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC9.$invalid && !agriQuesForm.agriqAnsC9.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 100 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">10. Do you hold below the poverty line ration card / Family card?</label>
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsC10Y" name="agriqAnsC10" value="Y" ng-model="agriC.agriQuesData.ANS_C10" required />
                                            <label for="agriqAnsC10Y">Yes</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsC10N" name="agriqAnsC10" value="N" ng-model="agriC.agriQuesData.ANS_C10" required />
                                            <label for="agriqAnsC10N">No</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label  class="form-label">11. Whether you or your family are availing any subsidiary benefits provided by the government:</label>
                                    <input type="text" class="form-control" name="agriqAnsC11" ng-model="agriC.agriQuesData.ANS_C11" required ng-maxlength="50">
                                    <div ng-messages="agriQuesForm.agriqAnsC11.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC11.$invalid && !agriQuesForm.agriqAnsC11.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 50 characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <label class="form-label">12. Please provide the following details:-</label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Details of Farm Machinery Used(Such as Tractor, Harvesting machines etc...)</label>
                                            <div class="custom-drp">
                                                <select name="agriqAnsC12a" ng-options="option.FM_DISPLAY for option in agriC.fmList track by option.FM_VALUE" ng-change="agriC.fmChg()" ng-model="agriC.fmOptionSelected" select-required ></select>
                                                <div ng-messages="agriQuesForm.agriqAnsC12a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC12a.$invalid && !agriQuesForm.agriqAnsC12a.$pristine">
                                                    <div ng-message="selectRequired">Please select an option.</div>
                                                </div>
                                            </div>
                                            <!--<input type="number" class="form-control" name="agriqAnsC12a" ng-model="agriC.agriQuesData.ANS_C12a" >-->
                                            <!--<div ng-messages="agriQuesForm.agriqAnsC12a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC12a.$invalid && !agriQuesForm.agriqAnsC12a.$pristine">-->
                                                <!--<div ng-message="required">Field cannot be empty.</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Details of Livestock(Farm animals like cattle, sheep etc.)</label>
                                            <div class="custom-drp">
                                                <select name="agriqAnsC12b" ng-options="option.LS_DISPLAY for option in agriC.lsList track by option.LS_VALUE" ng-change="agriC.lsChg()" ng-model="agriC.lsOptionSelected" select-required ></select>
                                                <div ng-messages="agriQuesForm.agriqAnsC12b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC12b.$invalid && !agriQuesForm.agriqAnsC12b.$pristine">
                                                    <div ng-message="selectRequired">Please select an option.</div>
                                                </div>
                                            </div>
                                            <!--<input type="text" class="form-control" name="agriqAnsC12b" ng-model="agriC.agriQuesData.ANS_C12b" >-->
                                            <!--<div ng-messages="agriQuesForm.agriqAnsC12b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsC12b.$invalid && !agriQuesForm.agriqAnsC12b.$pristine">-->
                                                <!--<div ng-message="required">Field cannot be empty.</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of block C-->
                        <div class="quetionaire-block-D clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form main-form-title">
                                    <label class="form-label">D. 1. Bank Account Details:</label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Name of Bank</label>
                                            <input type="text" class="form-control" name="agriqAnsD1a" ng-model="agriC.agriQuesData.ANS_D1a" required ng-maxlength="50">
                                            <div ng-messages="agriQuesForm.agriqAnsD1a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD1a.$invalid && !agriQuesForm.agriqAnsD1a.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 50 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Bank Account Number</label>
                                            <input type="number" class="form-control" name="agriqAnsD1b" ng-model="agriC.agriQuesData.ANS_D1b" required ng-maxlength="50">
                                            <div ng-messages="agriQuesForm.agriqAnsD1b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD1b.$invalid && !agriQuesForm.agriqAnsD1b.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 50 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Account Opening Date</label>
                                            <input type="date" class="form-control" name="agriqAnsD1c" ng-model="agriC.agriQuesData.ANS_D1c" required >
                                            <div ng-messages="agriQuesForm.agriqAnsD1c.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD1c.$invalid && !agriQuesForm.agriqAnsD1c.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of block D part 1-->

                        <div class="quetionaire-block-D clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label">D. 2. Details of Agricultural Loan :</label>
                                <div class="form-group custom-form main-form-title">
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsD2Y" name="agriqAnsD2" value="Y" ng-model="agriC.agriQuesData.ANS_D2" required />
                                            <label for="agriqAnsD2Y">Yes</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="agriqAnsD2N" name="agriqAnsD2" value="N" ng-model="agriC.agriQuesData.ANS_D2" required />
                                            <label for="agriqAnsD2N">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="agriC.agriQuesData.ANS_D2=='Y'">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Name of Bank / Institution</label>
                                            <input type="text" class="form-control" name="agriqAnsD2a" ng-model="agriC.agriQuesData.ANS_D2a" ng-required="agriC.agriQuesData.ANS_D2=='Y'" ng-maxlength="40">
                                            <div ng-messages="agriQuesForm.agriqAnsD2a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2a.$invalid && !agriQuesForm.agriqAnsD2a.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 40 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Amount of Loan opted</label>
                                            <input type="text" class="form-control" name="agriqAnsD2b" ng-model="agriC.agriQuesData.ANS_D2b" ng-required="agriC.agriQuesData.ANS_D2=='Y'" ng-maxlength="40">
                                            <div ng-messages="agriQuesForm.agriqAnsD2b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2b.$invalid && !agriQuesForm.agriqAnsD2b.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 40 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Duration of the Loan(Year/Months)</label>
                                            <input type="text" class="form-control" name="agriqAnsD2cy" ng-model="agriC.agriQuesData.ANS_D2cy" ng-required="agriC.agriQuesData.ANS_D2=='Y'" placeholder="Year" ng-maxlength="20">
                                            <div ng-messages="agriQuesForm.agriqAnsD2cy.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2cy.$invalid && !agriQuesForm.agriqAnsD2cy.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 20 characters.</div>
                                            </div>
                                            <input type="text" class="form-control" name="agriqAnsD2cm" ng-model="agriC.agriQuesData.ANS_D2cm" ng-required="agriC.agriQuesData.ANS_D2=='Y'" placeholder="Months" ng-maxlength="20">
                                            <div ng-messages="agriQuesForm.agriqAnsD2cm.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2cm.$invalid && !agriQuesForm.agriqAnsD2cm.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 20 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Frequency of Payment (Yearly, Half-Yearly, Quarterly, Monthly )</label>
                                            <div class="custom-drp">
                                                <select name="agriqAnsD2d" ng-options="option.FR_DISPLAY for option in agriC.frequencyList track by option.FR_VALUE" ng-change="agriC.frequencyChg()" ng-model="agriC.frequencyOptionSelected" select-required ></select>
                                                <div ng-messages="agriQuesForm.agriqAnsD2d.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2d.$invalid && !agriQuesForm.agriqAnsD2d.$pristine">
                                                    <div ng-message="selectRequired">Please select an option.</div>
                                                </div>
                                            </div>
                                            <!--<input type="text" class="form-control" name="agriqAnsD2d" ng-model="agriC.agriQuesData.ANS_D2d" ng-required="agriC.agriQuesData.ANS_D2=='Y'">-->
                                            <!--<div ng-messages="agriQuesForm.agriqAnsD2d.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2d.$invalid && !agriQuesForm.agriqAnsD2d.$pristine">-->
                                                <!--<div ng-message="required">Field cannot be empty.</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group custom-form">
                                            <label  class="form-label">Outstanding Amount </label>
                                            <input type="number" class="form-control" name="agriqAnsD2e" ng-model="agriC.agriQuesData.ANS_D2e" ng-required="agriC.agriQuesData.ANS_D2=='Y'" ng-maxlength="50">
                                            <div ng-messages="agriQuesForm.agriqAnsD2e.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsD2e.$invalid && !agriQuesForm.agriqAnsD2e.$pristine">
                                                <div ng-message="required">Field cannot be empty.</div>
                                                <div ng-message="maxlength">only 50 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of block D part 2-->
                        <div class="quetionaire-block-D clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p>E. Please mention your total gross annual income for the last 3 years. In case of profit sharing arrangement please mention amount of your share of profit made for the last three years:</p>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Year</label>
                                    <input type="text" class="form-control" name="agriqAnsE1a" ng-model="agriC.agriQuesData.ANS_E1a" required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE1a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE1a.$invalid && !agriQuesForm.agriqAnsE1a.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Annual Income earned</label>
                                    <input type="text" class="form-control" name="agriqAnsE1b" ng-model="agriC.agriQuesData.ANS_E1b" required required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE1b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE1b.$invalid && !agriQuesForm.agriqAnsE1b.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Year</label>
                                    <input type="text" class="form-control" name="agriqAnsE2a" ng-model="agriC.agriQuesData.ANS_E2a" required required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE2a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE2a.$invalid && !agriQuesForm.agriqAnsE2a.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                        <div ng-message="maxlength">only 25 characters.</div>
                                    </div>
                                </div>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Annual Income earned</label>
                                    <input type="text" class="form-control" name="agriqAnsE2b" ng-model="agriC.agriQuesData.ANS_E2b" required required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE2b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE2b.$invalid && !agriQuesForm.agriqAnsE2b.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                    </div>
                                </div>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Year</label>
                                    <input type="text" class="form-control" name="agriqAnsE3a" ng-model="agriC.agriQuesData.ANS_E3a" required required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE3a.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE3a.$invalid && !agriQuesForm.agriqAnsE3a.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                    </div>
                                </div>
                                <div class="form-group custom-form">
                                    <label  class="form-label">Annual Income earned</label>
                                    <input type="text" class="form-control" name="agriqAnsE3b" ng-model="agriC.agriQuesData.ANS_E3b" required required ng-maxlength="25">
                                    <div ng-messages="agriQuesForm.agriqAnsE3b.$error" class="error-messages" ng-show="agriQuesForm.agriqAnsE3b.$invalid && !agriQuesForm.agriqAnsE3b.$pristine">
                                        <div ng-message="required">Field cannot be empty.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of block D part 3-->
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <div class="custom-btn form-btn-wrap">
                                <button class="btn btn-default btn-block" type="submit" >Generate Output</button>
                            </div>
                        </div>
                    </div>
                    <!-- end second row -->
                </div>
            </div>
        </form>
    </div>
</section>
       </ion-content>
</ion-pane>
</body>
</html>
