<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/angular-carousel.css" rel="stylesheet" type="text/css">
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-app="starter" onload="windowResize();" onresize="windowResize();">
    <ion-pane>
        <ion-content>
            <!-- Header -->
            <header id="headerWrap">
                <div class="header_top pull-left">
                    <div class="logo-block pull-left">
                        <a href="" data-ng-click="leftOpen()"> <i class="fa fa-bars" aria-hidden="true"></i></a><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                    <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            <li><a href="#">home</a></li>
                            <li class="active"><a href="#">app tracker</a></li>
                            <li><a href="#">policy Tracker</a></li>
                            <li><a href="#">solutions</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </header>
            <!-- Tab Content -->
            <section class="content-block">
                <section class="lead_tab_wrp app-tab-">
                    <section ng-controller="commonappCtrl" class="main-tab">
                        <ul class="main-tab-ul" ng-init="activeTab = 'protection'" id="menuTab">
                            <li class="" ng-class="{ active: activeTab === 'protection' }">
                                <a ng-click="activeTab = 'protection'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">2</span> <span class="lead-tab-head">Fact Finder not </span> <span class="lead-tab-sub-head">initiated</span> </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Wealth' }">
                                <a ng-click="activeTab = 'Wealth'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">15</span> <span class="lead-tab-head">Fact Finder </span> <span class="lead-tab-sub-head">in progress</span> </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Savings' }">
                                <a ng-click="activeTab = 'Savings'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">4</span> <span class="lead-tab-head">Fact Finder</span> <span class="lead-tab-sub-head">Completed</span> </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Child' }">
                                <a ng-click="activeTab = 'Child'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">5</span> <span class="lead-tab-head">SIS </span> <span class="lead-tab-sub-head">completed</span> </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Retirement' }">
                                <a ng-click="activeTab = 'Retirement'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">8</span> <span class="lead-tab-head">SIS in</span> <span class="lead-tab-sub-head">progress</span> </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Other' }">
                                <a ng-click="activeTab = 'Other'" href="#">
                                    <div class="lead-tabs"> <span class="lead-tab-number">5</span> <span class="lead-tab-head">Application</span> <span class="lead-tab-sub-head">in progress</span> </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-innerCarouselWrap" id="contentWrap">
                            <div class="tab-pane" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <div class="lead-content" ng-include src="'apptrackercarousel1.html'">
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Wealth' }">
                                <div class="tab-content-area">
                                    <div class="lead-content">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Savings' }">
                                <div class="tab-content-area">
                                    <div class="lead-content">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Child' }">
                                <div class="tab-content-area">
                                    <div class="lead-content">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Retirement' }">
                                <div class="tab-content-area">
                                    <div class="lead-content">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Other' }">
                                <div class="tab-content-area">
                                    <div class="lead-content">

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                </section>
                <div class="clearfix"></div>
            </section>
        </ion-content>
    </ion-pane>
    <!-- js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/angular.panels.js"></script>
    <script src="js/angular-touch.js"></script>
    <script src="js/angular-carousel.js"></script>
    <script src="js/app.js"></script>
    <script>
        /*Calucation Of Height*/
        function windowResize() {
            /*Menu Height*/
            var menuHeight = document.getElementById('menuTab').offsetHeight;
            /*Header Height*/
            var headerHeight = document.getElementById('headerWrap').offsetHeight;
            /*Window Height*/
            var windowHeight = window.outerHeight;

            /*Calc Required Tab Height*/
            var calcTotalHeight = windowHeight - headerHeight - menuHeight;
            console.log("HEight " + calcTotalHeight);

            /*Content Wrapper Height Assign*/
            document.getElementById("contentWrap").style.height = calcTotalHeight + "px";
        }
    </script>
</body>

</html>