<div class="tracker-carousel" ng-controller="carouselCtrl">
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="carouselCtrl" rn-carousel rn-carousel-controls rn-carousel-index="3" rn-carousel-auto-slide="3" class="carousel5">
            <li class="carousel-contentli">
                <div class="" ng-include src="'fhrtile1.html'"></div>
            </li>
            <li>
                <div style="background:url('img/ionic.png')"></div>
            </li>
            <li>Slide 3</li>
            <li>Slide 4</li>
            <li>Slide 5</li>
            <li>Slide 6</li>
            <li>Slide 7</li>
            <li>Slide 8</li>
            <li>Slide 9</li>
        </ul>
        <div class="carousel-pagination" rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselCtrl"></div>
    </div>
</div>