<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dashboard Home</title>

    <!--    <link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">


    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular.panels.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/angular.panels.js"></script>
</head>

<body ng-app="starter" data-ng-controller="defaultController">

    <ion-pane>
        <!--
      <ion-header-bar class="bar-stable 
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
        <ion-content>
            <header>

                <div class="header_top pull-left">


                    <div class="logo-block pull-left">
                        <a href="" data-ng-click="leftOpen()"> <i class="fa fa-bars" aria-hidden="true"></i></a><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                    <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>


                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">


                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">home</a></li>
                            <li><a href="#">app tracker</a></li>
                            <li><a href="#">policy Tracker</a></li>
                            <li><a href="#">solutions</a></li>
                            <!--                            <li><a href="#">appointment</a></li>-->

                        </ul>

                    </nav>

                </div>

            </header>


            <!-- End header---->
            <section class="content-block">

                <div class="dashboard-block-1">
                    <ul>
                        <li class="block-color-1"><span class="block-digit">30</span><span class="block-text"><strong>total</strong><br>Lead</span><span class="block-ico"><i></i></span></li>
                        <li class="block-color-2">
                            <p class="block-digit1">12</p>
                            <p class="block-text1"><strong>FHR</strong>
                                <br>Lorem</p>
                        </li>
                        <li class="block-color-3">
                            <p class="block-digit1">09</p>
                            <p class="block-text1"><strong>SIS</strong>
                                <br>started</p>
                        </li>
                        <li class="block-color-4">
                            <p class="block-digit1">05</p>
                            <p class="block-text1"><strong>in progress</strong>
                                <br>application</p>
                        </li>
                        <li class="block-color-5">
                            <p class="block-digit1">18</p>
                            <p class="block-text1"><strong>application</strong>
                                <br>submited</p>
                            <p class="block-ico"></p>
                        </li>

                    </ul>

                </div>
                <!-- end of block 1   ---->
                <div class="dashboard-block-2">

                    <div class="col-sm-8 col-xs-8 chart-block">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6  business-overview">
                                <h2><strong>Business</strong> Overview</h2>
                            </div>
                            <div class="col-sm-6 col-xs-6 business-tabs">

                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a href="#1b" data-toggle="tab">Daily</a>
                                    </li>
                                    <li><a href="#2b" data-toggle="tab">Weakly</a>
                                    </li>
                                    <li><a href="#3b" data-toggle="tab">Monthly </a>
                                    </li>


                                </ul>

                                <div class="tab-content clearfix business-tab-content">
                                    <div class="tab-pane active" id="1b">
                                        <p>Proposal</p>
                                        <ul>
                                            <li><span class="proposal-color clr-1"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-2"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-3"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-4"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-5"></span><span class="proposal-txt">10% Issued</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="2b">
                                        <p>Proposal</p>
                                        <ul>
                                            <li><span class="proposal-color clr-1"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-2"></span><span class="proposal-txt">20% Issued</span></li>
                                            <li><span class="proposal-color clr-3"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-4"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-5"></span><span class="proposal-txt">10% Issued</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="3b">
                                        <p>Proposal</p>
                                        <ul>
                                            <li><span class="proposal-color clr-1"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-2"></span><span class="proposal-txt">30% Issued</span></li>
                                            <li><span class="proposal-color clr-3"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-4"></span><span class="proposal-txt">10% Issued</span></li>
                                            <li><span class="proposal-color clr-5"></span><span class="proposal-txt">10% Issued</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="proposal-tab-block">
                                <div class="proposal-tab-links">
                                    <a href="#">
                                        <span class="pro-tab-count">07</span>
                                        <span class="pro-tab-head">Issued</span>
                                        <span class="pro-tab-subhead">Proposals</span>
                                        <span class="pro-tab-border1"></span>

                                    </a>
                                </div>
                                <div class="proposal-tab-links">
                                    <a href="#">
                                        <span class="pro-tab-count">02</span>
                                        <span class="pro-tab-head">UW-pending</span>
                                        <span class="pro-tab-subhead">Proposals</span>
                                        <span class="pro-tab-border2"></span>

                                    </a>
                                </div>
                                <div class="proposal-tab-links">
                                    <a href="#">
                                        <span class="pro-tab-count">07</span>
                                        <span class="pro-tab-head">Pre-UW</span>
                                        <span class="pro-tab-subhead">Proposals</span>
                                        <span class="pro-tab-border3"></span>

                                    </a>
                                </div>
                                <div class="proposal-tab-links">
                                    <a href="#">
                                        <span class="pro-tab-count">07</span>
                                        <span class="pro-tab-head">Declined</span>
                                        <span class="pro-tab-subhead">Proposals</span>
                                        <span class="pro-tab-border4"></span>

                                    </a>
                                </div>
                                <div class="proposal-tab-links">
                                    <a href="#">
                                        <span class="pro-tab-count">01</span>
                                        <span class="pro-tab-head">Closed</span>
                                        <span class="pro-tab-subhead">Proposals</span>
                                        <span class="pro-tab-border5"></span>

                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 business-image"><img src="img/dashboard-business.png" alt="business" class="img-responsive">

                        <!-- Poopup code-->
                        <div ng-controller="toggleCntrl" class="popup-blk">
                            <div class="fav-icon-wrp">
                                <button ng-click="toggleCustom()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                            </div>
                            <div ng-hide="custom" class="modal-blackoverlay">
                                <div class="popup_wrap">
                                    <div class="popup_content">
                                        <ul>
                                            <li><a href="#"><span class="popup-ico purple-clr-bg"><i class="icon icon-17"></i></span><span class="fav-text">Add Lead</span></a></li>
                                            <li><a href="#"><span class="popup-ico green-clr-bg"><i class="icon icon-2"></i></span><span class="fav-text">New Appointment</span></a></li>
                                            <li><a href="#"><span class="popup-ico skyblue-clr-bg"><i class="icon icon-11"></i></span><span class="fav-text">Start FHR</span></a></li>
                                            <li>
                                                <button ng-click="wrphide()"><span class="popup-ico red-clr-bg cross-btn"><i class="icon icon-41"></i></span></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Poopup code-->

                    </div>


                </div>
                <!-- end of block 2   ---->


            </section>
            <div data-panels="true" class="menu-panel"></div>

        </ion-content>
    </ion-pane>
</body>

</html>