<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dashboard new Solution</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
         <link href="css/good-solution-icon.css" rel="stylesheet">

    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/angular.panels.js"></script>
</head>

<body ng-app="starter">

    <ion-pane>
        <!--
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
        <ion-content>
            <header>

                <div class="header_top pull-left">

                    <div class="logo-block pull-left"><i class="fa fa-bars" aria-hidden="true"></i><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                    <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>


                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">


                        <ul class="nav navbar-nav">
                            <li><a href="#">home</a></li>
                            <li><a href="#">app tracker</a></li>
                            <li class="active"><a href="#">solutions</a></li>
                            <li><a href="#">appointment</a></li>
                            <li><a href="#">policy Tracker</a></li>
                        </ul>

                    </nav>

                </div>

            </header>


            <!-- End header---->
            <section class="content-block">
                <div class="solutions-content">
                    <!--
                    <div class="col-sm-12 col-xs-12">
                    
                    <div class="row">
                        <div class="custom-btn form-btn-wrap solution-btn">
                <button class="btn btn-default">Back</button>
                <button class="btn btn-default">Next</button>
            </div>
                        
                        </div>
                    </div>
-->

                </div>


                <section class="tab_wrp">
                    <section ng-controller="commonappCtrl" class="panel-body">
                        <ul class="nav nav-tabs tab-left-align" ng-init="activeTab = 'protection'">
                            <li class="color_1" ng-class="{ active: activeTab === 'protection' }">
                                <a ng-click="activeTab = 'protection'" href="#">

                                    <div class="solutions-head head-protection">
                                        <div class="solutions-title pull-left">
                                            <h2>Protection</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-39 red-clr" aria-hidden="true"></i>
</span>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li class="color_2" ng-class="{ active: activeTab === 'Wealth' }">
                                <a ng-click="activeTab = 'Wealth'" href="#">
                                    <div class="solutions-head head-wealth">
                                        <div class="solutions-title pull-left">
                                            <h2>Wealth</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-3 blue-clr" aria-hidden="true"></i>
</span>
                                        </div>

                                    </div>

                                </a>
                            </li>
                            <li class="color_3" ng-class="{ active: activeTab === 'Savings' }">
                                <a ng-click="activeTab = 'Savings'" href="#">

                                    <div class="solutions-head head-savings">
                                        <div class="solutions-title pull-left">
                                            <h2>Savings</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-12 yellow-clr" aria-hidden="true"></i></span>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li class="color_4" ng-class="{ active: activeTab === 'Child' }">
                                <a ng-click="activeTab = 'Child'" href="#">
                                    <div class="solutions-head head-child">
                                        <div class="solutions-title pull-left">
                                            <h2>Child</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-14 skyblue-clr" aria-hidden="true"></i>
</span>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li class="color_5" ng-class="{ active: activeTab === 'Retirement' }">
                                <a ng-click="activeTab = 'Retirement'" href="#">
                                    <div class="solutions-head head-retirement">
                                        <div class="solutions-title pull-left">
                                            <h2>Retirement</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-7 purple-clr" aria-hidden="true"></i>
</span>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li class="color_6" ng-class="{ active: activeTab === 'Other' }">
                                <a ng-click="activeTab = 'Other'" href="#">
                                    <div class="solutions-head head-others">
                                        <div class="solutions-title pull-left">
                                            <h2>Other</h2><span>Solutions</span></div>
                                        <div class="solutions-ico-wrap pull-right">
                                            <span class="solutions-ico"><i class="icon icon-14 green-clr" aria-hidden="true"></i></span>
                                        </div>

                                    </div>
                                </a>
                            </li>

                        </ul>

                        <div class="tab-content tab-right-align">
                            <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tab-pane head-wealth" ng-class="{ active: activeTab === 'Wealth' }">
                              <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                    </ul>
                                </div>

                            </div>
                            </div>
                            <div class="tab-pane head-savings" ng-class="{ active: activeTab === 'Savings' }">
                              <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                  
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        
                                    </ul>
                                </div>

                            </div>
                            </div>
                            <div class="tab-pane head-child" ng-class="{ active: activeTab === 'Child' }">
                                <div class="tab-content-area">
                                  <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>

                                    </ul>
                                </div>

                            </div>
                                </div>
                            </div>
                            <div class="tab-pane head-retirement" ng-class="{ active: activeTab === 'Retirement' }">  <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                       
                                    </ul>
                                </div>

                            </div></div>
                            <div class="tab-pane head-others" ng-class="{ active: activeTab === 'Other' }">  <div class="tab-pane head-protection" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                    <ul>
                                        <li><a href="#"><span class="pull-left">MahaLife Magic</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Money Maxima</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">Secure 7</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold Plus</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Supreme</span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                        <li><a href="#"><span class="pull-left">MahaLife Gold </span><i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
</a> </li>
                                       
                                    </ul>
                                </div>

                            </div></div>
                        </div>
                    </section>
                </section>




            </section>

        </ion-content>
    </ion-pane>
</body>

</html>