<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dashboard download</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">

    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">

    <ion-pane>
        <!--
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
        <ion-content>
            <header>

<div class="header_top pull-left">
                    
                    
                        <div class="logo-block pull-left"><a href="" data-ng-click="leftOpen()"> <i class="fa fa-bars" aria-hidden="true"></i></a><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                        <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>

                
                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">


                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">home</a></li>
                            <li><a href="#">app tracker</a></li>
                            <li><a href="#">lead</a></li>
                            <li><a href="#">appointment</a></li>
                            <li><a href="#">policy Tracker</a></li>
                        </ul>

                    </nav>

                </div>

            </header>


            <!-- End header---->
            <section class="content-block dash-available-download">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p>Products</p>
                            <div class="bs-callout insured-box-1 bs-callout-yellow-active">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-1">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-1 bs-callout-yellow-active">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-1">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p>Resources</p>
                            <div class="bs-callout insured-box-2">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-2">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-2 bs-callout-green-active">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                            <div class="bs-callout insured-box-2">
                                <a href="#">

                                    <h4 class="insured-1 pull-left"><span>Lorem Ipsum</span>
                                    <span class="sub-head">Loren Ipsum set imate</span></h4>
                                    <i class="icon icon-40 pull-right sis-check-icon"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </section>

        </ion-content>
    </ion-pane>
</body>

</html>