<div class="col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i> <span class="sol-apps">Facebook</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i> <span class="sol-apps">Whatsapp</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i> <span class="sol-apps">Message</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i><span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i><span class="sol-apps">Facebook</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i> <span class="sol-apps">Whatsapp</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <div class="lead-box-bg">
                <div class="lead-head">
                    <div class="lead-head-ico pull-left">S</div>
                    <div class="lead-contact pull-left">
                        <h2>Mr. Lorem Ipsum</h2>
                        <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">091874864</span></span> <span><i class="fa fa-user" aria-hidden="true"></i> <span class="sol-apps">Message</span></span>
                        </div>
                        <div class="date-created"> <span class="date-created-lbl">Created on</span><span class="date-on">02/06/2016</span> </div>
                    </div>
                </div>
                <div class="lead-head-txt pull-left">
                    <button type="button" class="btn btn-default btn-border">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>