<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>Dashboard App Tracker</title>
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/good-solution-icon.css" rel="stylesheet">

<!--fonts-->
<link href="css/font-awesome.min.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/angular.panels.js"></script>
<style type="text/css">
.lead-tracker-wrp{background:#ecedef}
.main-tab .lead-tracker-ul{margin:0;padding:0;list-style-type:none;white-space:nowrap;width:100%;background:#1c2535;width:100%;z-index:1}
.main-tab .lead-tracker-ul li{margin:0;padding:0;display:inline-block;width:50%}
.main-tab .lead-tracker-ul li a{margin:0;padding:0;display:block;font-size:18px;font-family:'tata_aia_printbold';color:#63676f;padding:23px 20px}
.main-tab .lead-tracker-ul li a:hover{text-decoration:none}
.main-tab .lead-tracker-ul li.active a{border-bottom:5px solid #f26963;color:#fff}
.main-tab .lead-tracker-ul .lead-tabs span{display:inline-block}
.tab-content-area{padding:15px 10px}
.lead-track-content{background:#fff;padding:10px;border-left:4px solid #000;border-radius:4px; margin: 10px 0px}
.lead-track-content .media a.pull-left{border-radius:50%;padding:10px;margin-right:10px;color:#fff;font-weight:700}
.track-no-wrp i{margin-right:10px}
p.track-no-wrp i{margin-right:10px}
.lead-track-content .media-heading{color:#000;font-weight:700}
.lead-track-icon i ,.lead-tracker-ul .lead-tab-number{font-size: 40px;}
.lead-track-btn{border:1px solid #707070;padding:1px 10px;border-radius:10px;color:#000}
    .lead-track-bdr-1{ border-left-color: #f26963}
    .lead-track-bdr-2{ border-left-color: #01b3e3}
    .lead-track-bdr-3{ border-left-color: #fcb040}
    .lead-track-bdr-4{ border-left-color: #22bcba}
    .lead-track-bdr-5{ border-left-color: #9b4e9e}
    .lead-track-bdr-6{ border-left-color: #f26963}
    .media-icon-clr-1{ background: #f26963}
    .media-icon-clr-2{ background: #01b3e3}
    .media-icon-clr-3{ background: #fcb040}
    .media-icon-clr-4{ background: #22bcba}
    .media-icon-clr-5{ background: #9b4e9e}
    .media-icon-clr-6{ background: #f26963}
</style>
</head>

<body ng-app="starter">
<ion-pane> 
  <!--
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
  <ion-content>
    <header>
      <div class="header_top pull-left">
        <div class="logo-block pull-left"><a href="" data-ng-click="leftOpen()"> <i class="fa fa-bars" aria-hidden="true"></i></a><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
        <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
      </div>
<!--
      <div class="navigation-block pull-left">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li><a href="#">home</a></li>
            <li class="active"><a href="#">app tracker</a></li>
            <li><a href="#">policy Tracker</a></li>
            <li><a href="#">solutions</a></li>
            
            
          </ul>
        </nav>
      </div>
-->
    </header>
    
    <!-- End header---->
    <section class="content-block">
    <section class="lead-tracker-wrp">
        <section ng-controller="commonappCtrl" class="main-tab">
            <ul class="lead-tracker-ul" ng-init="activeTab = 'selflead'">
                <li class="" ng-class="{ active: activeTab === 'selflead' }">
                    <a ng-click="activeTab = 'selflead'" href="#">
                        <div class="lead-tabs "><span class="lead-track-icon"><i class="fa fa-user" aria-hidden="true"></i></span> <span class="lead-tab-number">02</span> <span class="lead-tab-head">Self Lead</span></div>
                    </a>
                </li>
                <li class="" ng-class="{ active: activeTab === 'pushedlead' }">
                    <a ng-click="activeTab = 'pushedlead'" href="#">
                        <div class="lead-tabs"><span class="lead-track-icon"><i class="fa fa-globe" aria-hidden="true"></i></span> <span class="lead-tab-number">15</span> <span class="lead-tab-head">Pushed Lead</span></div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" ng-class="{ active: activeTab === 'selflead' }">
                    <div class="tab-content-area">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-1">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-1" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-2">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-2" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-3">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-3" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-4">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-4" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-5">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-5" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="media-list lead-track-content lead-track-bdr-6">
                                <div class="media">
                                    <a class="pull-left media-icon-clr-6" href="#"> <span>RK</span> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Mr. Rajesh Kumar</h4>
                                        <p class="track-no-wrp"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="lead-track-number">987654123</span>
                                        </p> 
                 <span class="lead-track-btn-wrp"> 
                     <a href="#" class="lead-track-btn">Edit</a>
                     <a href="#" class="lead-track-btn">Continue</a>
                  </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{ active: activeTab === 'pushedlead' }">
                    <div class="tab-content-area">
                        <div class="col-sm-12 col-xs-12">efr dfet</div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
  </ion-content>
</ion-pane>
</body>
</html>