<div class="pane-head">
    <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>

<div class="pane-body">
    <div class="row">
        <div class="menu_wrap">
            <ul>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/knowledge-bank-ico.png" alt="knowledge bank"> </span><span class="menu-txt">knowledge bank</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/upload-document-ico.png" alt="knowledge bank"></span><span class="menu-txt">upload documents</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/apptracker-ico.png" alt="knowledge bank"></span><span class="menu-txt">app tracker</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/fhr-ico.png" alt="knowledge bank"></span><span class="menu-txt">FHR</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/communicator-ico.png" alt="knowledge bank"></span><span class="menu-txt">communication advisor</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/analytics-ico.png" alt="analytics"></span><span class="menu-txt">analytics</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/fun-activities-ico.png" alt="fun activities"></span><span class="menu-txt">fun activities</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/training-ico.png" alt="training"></span><span class="menu-txt">training</span></a>

                </li>
                <li>
                    <a href="#"><span class="menu-ico"><img src="img/scheme-ico.png" alt="scheme"></span><span class="menu-txt">scheme</span></a>

                </li>
            </ul>
        </div>
    </div>
    <div class="row">{{message}}</div>
</div>