<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dashboard Home</title>

    <!--    <link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">


    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular.panels.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/angular.panels.js"></script>
</head>

<body ng-app="starter" data-ng-controller="defaultController">
    <ion-pane>
        <ion-content>
            <!-- Poopup code-->
            <div class="business-image">
                <div ng-controller="toggleCntrl" class="popup-blk">
                    <div class="">
                        <button ng-click="toggleCustom()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                    </div>
                    <div ng-hide="custom" class="modal-blackoverlay">
                        <div class="popup_wrap">
                            <div class="popup_content">
                                <ul>
                                    <li><a href="#"><span class="popup-ico purple-clr-bg"><i class="icon icon-17"></i></span><span class="fav-text">Add Lead</span></a></li>
                                    <li><a href="#"><span class="popup-ico green-clr-bg"><i class="icon icon-2"></i></span><span class="fav-text">New Appointment</span></a></li>
                                    <li><a href="#"><span class="popup-ico skyblue-clr-bg"><i class="icon icon-11"></i></span><span class="fav-text">Start FHR</span></a></li>
                                    <li>
                                        <button ng-click="wrphide()"><span class="popup-ico red-clr-bg cross-btn"><i class="icon icon-41"></i></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Poopup code-->
        </ion-content>
    </ion-pane>
</body>
</html>