<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/angular-carousel.css" rel="stylesheet" type="text/css">
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <link href="css/latest-style.css" rel="stylesheet">
</head>

<body ng-app="starter" onload="windowResize();" onresize="windowResize();">
    <ion-pane>
        <ion-content>
            <!-- Header -->
            <header id="headerWrap">
                <div class="header_top pull-left">
                    <div class="logo-block pull-left">
                        <a href="" data-ng-click="leftOpen()"> <i class="fa fa-bars" aria-hidden="true"></i></a><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                    <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            <li><a href="#">home</a></li>
                            <li class="active"><a href="#">app tracker</a></li>
                            <li><a href="#">policy Tracker</a></li>
                            <li><a href="#">solutions</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </header>
            <!-- Tab Content -->
            <section class="content-block">
               
          <view-sis-output style="position: fixed; top: 150px; margin-left: auto; margin-right: auto; bottom: 70px; overflow: auto;"></view-sis-output>
<div class="sis-form-wrap">
    <div class="continer">
        <div class="row">
            <div class="navbar navbar-default navbar-fixed-bottom custom-footer" style="top: auto; bottom: 0px; height: 70px; overflow: hidden;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="fact-middle-button bottom-fixed">
                            <!--<div class="col-xs-6 col-sm-offset-2 col-sm-2 col-md-2">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="sc.onBack()">Back</button>
                                </div>
                            </div>-->
                            <div class="col-xs-6 col-sm-offset-2 col-sm-2 col-md-2">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="sc.saveSisReportFile()">Save</button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="sc.shareSIS()">Share</button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2" ng-show="sc.showSignatureButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="sc.signSisReportFile()" ng-disabled="sc.disableSignature">Sign</button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2" ng-show="!sc.showExitButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-disabled="!sc.disableSignature">Proceed</button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2" ng-show="sc.showExitButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="sc.sisExit()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





            </section>
        </ion-content>
    </ion-pane>
    <!-- js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/angular.panels.js"></script>
    <script src="js/angular-touch.js"></script>
    <script src="js/angular-carousel.js"></script>
    <script src="js/app.js"></script>
    <script>
        /*Calucation Of Height*/
        function windowResize() {
            /*Menu Height*/
            var menuHeight = document.getElementById('menuTab').offsetHeight;
            /*Header Height*/
            var headerHeight = document.getElementById('headerWrap').offsetHeight;
            /*Window Height*/
            var windowHeight = window.outerHeight;

            /*Calc Required Tab Height*/
            var calcTotalHeight = windowHeight - headerHeight - menuHeight;
            console.log("HEight " + calcTotalHeight);

            /*Content Wrapper Height Assign*/
            document.getElementById("contentWrap").style.height = calcTotalHeight + "px";
        }
    </script>
</body>

</html>