<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dashboard Solution</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/angular.panels.js"></script>
</head>

<body ng-app="starter">

    <ion-pane>
        <!--
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
        <ion-content>
            <header>

                <div class="header_top pull-left">

                    <div class="logo-block pull-left"><i class="fa fa-bars" aria-hidden="true"></i><img src="img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"></div>
                    <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>


                </div>
                <div class="navigation-block pull-left">
                    <nav class="navbar navbar-default">


                        <ul class="nav navbar-nav">
                            <li><a href="#">home</a></li>
                            <li><a href="#">app tracker</a></li>
                            <li class="active"><a href="#">solutions</a></li>
                            <li><a href="#">appointment</a></li>
                            <li><a href="#">policy Tracker</a></li>
                        </ul>

                    </nav>

                </div>

            </header>


            <!-- End header---->
            <section class="content-block">
                <div class="solutions-content">
                    <!--
                    <div class="col-sm-12 col-xs-12">
                    
                    <div class="row">
                        <div class="custom-btn form-btn-wrap solution-btn">
                <button class="btn btn-default">Back</button>
                <button class="btn btn-default">Next</button>
            </div>
                        
                        </div>
                    </div>
-->

                </div>


                




                <section class="lead_tab_wrp">
                    <section ng-controller="commonappCtrl" class="panel-body">
                        <ul class="nav nav-tabs" ng-init="activeTab = 'protection'">
                            <li class="" ng-class="{ active: activeTab === 'protection' }">
                                <a ng-click="activeTab = 'protection'" href="#">
                              <div class="lead-tabs">  <span class="lead-tab-number">2</span>
                                    <span class="lead-tab-head">FHR not </span>
                                    <span class="lead-tab-sub-head">initiated</span>
                                   </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Wealth' }">
                                <a ng-click="activeTab = 'Wealth'" href="#">
                                  <div class="lead-tabs">  <span class="lead-tab-number">15</span>
                                    <span class="lead-tab-head">FHR in </span>
                                    <span class="lead-tab-sub-head">progress</span>
                                   </div>

                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Savings' }">
                                <a ng-click="activeTab = 'Savings'" href="#">

                                   <div class="lead-tabs">  <span class="lead-tab-number">4</span>
                                    <span class="lead-tab-head">FHR</span>
                                    <span class="lead-tab-sub-head">Completed</span>
                                   </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Child' }">
                                <a ng-click="activeTab = 'Child'" href="#">
                                   <div class="lead-tabs">  <span class="lead-tab-number">5</span>
                                    <span class="lead-tab-head">SIS </span>
                                    <span class="lead-tab-sub-head">completed</span>
                                   </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Retirement' }">
                                <a ng-click="activeTab = 'Retirement'" href="#">
                                  <div class="lead-tabs">  <span class="lead-tab-number">8</span>
                                    <span class="lead-tab-head">SIS in</span>
                                    <span class="lead-tab-sub-head">progress</span>
                                   </div>
                                </a>
                            </li>
                            <li class="" ng-class="{ active: activeTab === 'Other' }">
                                <a ng-click="activeTab = 'Other'" href="#">
                                  <div class="lead-tabs">  <span class="lead-tab-number">5</span>
                                    <span class="lead-tab-head">Application</span>
                                    <span class="lead-tab-sub-head">in progress</span>
                                   </div>
                                </a>
                            </li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{ active: activeTab === 'protection' }">
                                <div class="tab-content-area">
                                 <div class="lead-content">
                    <div class="col-sm-12 col-xs-12">

                        <div class="row">
                            <div class="col-sm-4 col-xs-4 ">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i>
                                                <span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="sol-apps">Facebook</span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i>
<span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i>
<span class="sol-apps">Whatsapp</span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i>
<span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i>
<span class="sol-apps">Message</span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i><span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i><span class="sol-apps">Facebook</span></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i>
<span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i>
<span class="sol-apps">Whatsapp</span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div class="lead-box-bg">
                                    <div class="lead-head">
                                        <div class="lead-head-ico pull-left">S</div>
                                        <div class="lead-contact pull-left">
                                            <h2>Mr. Lorem Ipsum</h2>
                                            <div class="lead-contact-details">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i>
<span class="sol-details">091874864</span></span>
                                                <span><i class="fa fa-user" aria-hidden="true"></i>
<span class="sol-apps">Message</span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lead-head-txt pull-left">
                                        <button type="button" class="btn btn-default btn-border">Continue</button>
                                        <button type="button" class="btn btn-default btn-border">Set & Update</button>
                                        <button type="button" class="btn btn-default btn-border">Lorem</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>

                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Wealth' }">
                              
                                <div class="tab-content-area">
                                  rtdty
                                </div>

                            
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Savings' }">
                             
                                  
                                <div class="tab-content-area">
                                   gdrty
                                </div>

                           
                            </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Child' }">
                               
                                <div class="tab-content-area">
                                   trytey
                                </div>

                            </div>
                                
                            
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Retirement' }"> 
                        
                                <div class="tab-content-area">
                                   
                                </div>

                                </div>
                            <div class="tab-pane" ng-class="{ active: activeTab === 'Other' }">  
                              
                                <div class="tab-content-area">
                                   grtyet gret
                                </div>

                            </div>
                        </div>
                    </section>
                </section>




            </section>

        </ion-content>
    </ion-pane>
</body>

</html>