<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Document upload</title>
    <!--    <link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/good-solution-icon.css" rel="stylesheet">
    <!--fonts-->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular.panels.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!--  <script src="cordova.js"></script>-->
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/angular.panels.js"></script>
    <style type="text/css">
.doc_upload_wrap{margin: 10px 0px}
.doc_fav-icon-wrp{text-align:left}
.doc_modal-blackoverlay{position:fixed;top:0;left:0;width:100%;z-index:2}
.doc_popup_wrap{width:300px;margin:0 auto; background:rgba(28,37,53,1); box-shadow: 0px 0px 6px rgba(0,0,0,.9)}
.doc_popup_content{width:100%;position:relative;height:100%}
.doc_upload_cross{text-align:right;padding:5px}
.doc_popup_content ul{display:block;padding:10px;text-align:center; margin: 0px}
.doc_popup_content ul li{margin-bottom:0px;text-align:center;list-style:none;display:inline-block;padding:0 15px}
.doc_popup_content ul li .popup-ico{width:75px;height:75px;border-radius:50%;font-size:37px;padding-top:15px;margin:0 auto 5px}
.doc_popup_content ul li a{text-decoration:none;font-size:14px;word-wrap:break-word}
.doc_popup_content ul li span{display:block;text-align:center;color:#fff}
.doc_popup_content ul li span.doc_popup-ico{line-height:50px}
.doc_popup_content ul li button{border:0;background:transparent}
.doc_popup-ico{width:50px;height:50px;margin:0 auto;border-radius:50%}
.doc_upload_cross button{width:30px;height:30px;border-radius:50%;border:0;background:red}
.doc_upload_cross button i{color:#fff}
button.doc_btn{width:40px;height:40px;border:0;display:inline-block;background:#f26963;border-radius:50%;padding:0}
button.doc_btn i{color:#fff;font-size:18px}  
.doc_label{text-align: right}
</style>
</head>

<body ng-app="starter" data-ng-controller="defaultController">
    <ion-pane>
        <!--
      <ion-header-bar class="bar-stable 
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
-->
        <ion-content>
            <section class="content-block">
                <div class="doc_upload_wrap">
                    <!-- Poopup code-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="sel1" class="form-label doc_label">Label</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                      <select class="form-control">
                                            <option selected></option>
                                            <option>option</option>
                                            <option>option</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div ng-controller="toggleCntrl" class="doc_popup-blk">
                                    <div class="doc_fav-icon-wrp">
                                        <button ng-click="toggleCustom()" class="doc_btn"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                                    </div>
                                    <div ng-hide="custom" class="doc_modal-blackoverlay">
                                        <div class="doc_popup_wrap">
                                            <!--
                                <div class="doc_upload_cross">
                                    <button ng-click="wrphide()"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                                </div>
-->
                                            <div class="doc_popup_content">
                                                <ul>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico purple-clr-bg">      
                                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Document</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico green-clr-bg">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Gallery</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico skyblue-clr-bg">
                                              <i class="fa fa-camera" aria-hidden="true"></i>
                                              </span> <span class="fav-text">Camera</span> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Poopup code-->
                    <div class="clearfix"></div>
                </div>
                  <div class="doc_upload_wrap">
                    <!-- Poopup code-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label doc_label">Label</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                      <select class="form-control">
                                            <option selected></option>
                                            <option>option</option>
                                            <option>option</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div ng-controller="toggleCntrl" class="doc_popup-blk">
                                    <div class="doc_fav-icon-wrp">
                                        <button ng-click="toggleCustom()" class="doc_btn"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                                    </div>
                                    <div ng-hide="custom" class="doc_modal-blackoverlay">
                                        <div class="doc_popup_wrap">
                                            <!--
                                <div class="doc_upload_cross">
                                    <button ng-click="wrphide()"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                                </div>
-->
                                            <div class="doc_popup_content">
                                                <ul>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico purple-clr-bg">      
                                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Document</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico green-clr-bg">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Gallery</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico skyblue-clr-bg">
                                              <i class="fa fa-camera" aria-hidden="true"></i>
                                              </span> <span class="fav-text">Camera</span> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Poopup code-->
                    <div class="clearfix"></div>
                </div>
                  <div class="doc_upload_wrap">
                    <!-- Poopup code-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="sel1" class="form-label doc_label">Label</label>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                      <select class="form-control">
                                            <option selected></option>
                                            <option>option</option>
                                            <option>option</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div ng-controller="toggleCntrl" class="doc_popup-blk">
                                    <div class="doc_fav-icon-wrp">
                                        <button ng-click="toggleCustom()" class="doc_btn"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                                    </div>
                                    <div ng-hide="custom" class="doc_modal-blackoverlay">
                                        <div class="doc_popup_wrap">
                                            <!--
                                <div class="doc_upload_cross">
                                    <button ng-click="wrphide()"> <i class="fa fa-times" aria-hidden="true"></i> </button>
                                </div>
-->
                                            <div class="doc_popup_content">
                                                <ul>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico purple-clr-bg">      
                                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Document</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico green-clr-bg">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                </span> <span class="fav-text">Gallery</span> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> <span class="doc_popup-ico skyblue-clr-bg">
                                              <i class="fa fa-camera" aria-hidden="true"></i>
                                              </span> <span class="fav-text">Camera</span> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Poopup code-->
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </section>
        </ion-content>
    </ion-pane>
</body>

</html>