/*.fixed-header{margin-top:43px;}*/
//.platform-webview.platform-ios.platform-cordova {margin-top:63px;}
.my-video{height:200px; width:100%; position:absolute; background:grey; color:red; text-align:center; padding:20px;}
.platform-webview.platform-ios.platform-cordova .ion-content-below-my-video{margin-top:120px;}

/*override css*/
.bar{padding:0}
.bar.bar-positive{border:0; border-color:transparent; background:transparent; background-image:none}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{margin-top:0}
.Fact-finder-header{display:block; border:1px solid orange}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){height:auto}