/* Empty. Add your own CSS if you like */

.button {
    border-radius: 0px;
}

.card,
.list-inset {
    border-radius: 0px;
}

.login-bg {
    background: url("../img/login-bg.png") no-repeat center center fixed;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.login-button-bg {
    background-color: #e55049;
    color: #ffffff
}

.button.login-button-bg:hover {
    
    color: #ffffff;
}

.button.login-button-bg.active,.button.login-button-bg.activated {
    background-color: #d63e37;
    color: #ffffff;
}

.vertical-align {
    vertical-align: middle !important;
    /*display: table-cell;*/
    text-align: center;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    -moz-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-flex-align: center;
    align-items: center;
}

.svg-opacity {
    color: #ffffff;
    fill: #ffffff;
    opacity: 0.7;
    width: 90%;
    height: auto;
}
a{text-decoration: none;color: white;}

.bar-custom {
    background-color: #333333 !important;
    color: #ffffff !important;
}
.bar {
    border-bottom: 0px;
    
}
.my-profile-bg-color {
    background-color: #00d3dc !important
}
.svg-opacity1 {
    color: #ffffff;
    fill: #ffffff;
    opacity: 0.10;
    width: 100%;
    height: auto;
}
.white {
    color: #ffffff !important;title-custom
}
.black {
    color: #000000 !important
}
.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}
.vertical-align {
    vertical-align: middle;
}
.card .item:first-child,
.list-inset .item:first-child,
.padding > .list .item:first-child,
.card .item:last-child,
.list-inset .item:last-child,
.padding > .list .item:last-child {
    border-radius: 0px;
}
.card-img-circle {
    max-height: 50px !important;
    max-width: 50px !important;
}
h7 {
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
    margin: 0 0 2px;
}
.card-footer-icon {
    font-size: 300%;
    color: #ff6142;
}
.card-footer-icon {
    margin-right: 7px !important;
    
}
.card-custom-para {
    font-size: 15px;
    color: #000000 !important;
}
.body-bg{background-color:#f4f4f7}

.center1{
  
    display: flex;
  flex-direction: column;
  justify-content: center;
    
}

.card-head-calm{background-color:#11C1F3 !important;color:#FFF !important}
.red-star{color: darkred}

.button-footer-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


/****************custom footer bar start**************/
.footer-bar-custom {
/*
    background: #455D87;
    color: #F6F7F0;
*/
/*    height: 44px;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 5
}

    .footer-bar-custom .item-left,
    .footer-bar-custom .item-center,
    .footer-bar-custom .item-right {
        position: absolute;
/*        width: 80px*/
    }

    .footer-bar-custom .item-left { left: 10px }

    .footer-bar-custom .item-center {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .footer-bar-custom .item-right { right: 10px }

/****************custom footer bar end**************/

/*********lead page css start******************/
.lead-list-icon{/*margin: -30px 0 0;*/color: #387EF5;width: 30px !important;margin-bottom: auto;}
.lead-name{color:#387EF5 !important}
.lead-list1{margin-top:-18px !important}
.lead-list2{margin-top:-40px !important}
.lead-list3{margin-top:-18px !important}
.yellow{background-color: #e69d44 !important;}
/*********lead page css end******************/

/*******FAB Button start*********/

.float-button {
 
background-color:#f56118;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 60px;
    height: 60px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 7.5%; /* Adjust height */
right: 2%; /* Adjust position */
z-index: 1000;
}
 
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-button .content {
  position: absolute;
  left: 0;
  top: 70%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
.fab-font{font-size:9px}

/*******FAB Button end*********/

/********protection inner ******/
.pro-bg-img{
    background: url(../img/protection-1024.jpg) no-repeat center center fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
/*    max-width: 100% !important;*/
    

}

.has-error{
    border: 1px solid red;
}

.error-messages{
	color: red;
}

.invisble{
  visibility: hidden;
}

.checkbox{
  /* added by akhil as ionic checkbox having padding 7 px was getting applied along with bootstrap which was causing content to shift in sis form a page 1 */
  padding: 0px !important;
}

.modal{width:70%; top: 10%; bottom: 20%; right: 15%; left: 15%;}