/*Font-Family*/
@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_bold_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_bold_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printregular';
    src: url('../fonts/tata_aia_regular_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_regular_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Uniform Css*/
body{font-size:16px; letter-spacing: 0.02em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important; overflow-x: hidden;}
.pull-none{float: none!important}
.custom-form .form-control{padding: 0px 10px !important;  box-shadow: none; border:1px solid #e2e6e6; font-size:15px; height:50px; padding-left:0px; border-radius:0; font-family: 'tata_aia_printregular'; letter-spacing: 0.04em}
.custom-form .form-control:focus, .custom-form .form-control:focus{border-bottom:1px solid #1b9bec; color: #000; font-size:15px;font-weight:700;}
.custom-form{margin-bottom:30px}
.form-title{margin-bottom: 25px; font-family: 'tata_aia_printbold';}
.custom-form-wrapper{margin-top:75px}
.form-title{font-size: 21px; font-weight:600}
.custom-btn .btn{height:48px; font-size:20px; border-radius: 0;}
.form_wrap{width:90%; margin:0 auto;}

/*Bootstrap Override*/
.btn, .btn:focus, .btn:hover{border:0px; outline: 0px;}
.btn{font-family:'tata_aia_printregular'}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary{background: #263247}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default{background: #f26963; color:#ffffff; letter-spacing: 0.05em}
.help-block{color:#a94442;display:inline;font-weight:200;margin-top:-10px;height: 40px;}


.gender-radio-wrapper{margin-top:2px;}
.gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.male-wrapper input[type='radio']{display: none;}
.male-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.male-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.male-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.female-wrapper input[type='radio']{display: none;}
.female-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.female-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.female-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*smoking non smoking check*/
.smoke-radio-wrapper{margin-top:2px;}
.smoke-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.smoker-wrapper input[type='radio']{display: none;}
.smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.smoker-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.non-smoker-wrapper input[type='radio']{display: none;}
.non-smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.non-smoker-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.non-smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}

/*------------navigation style-------------*/

.menu-panel .panels.panel-left{height:100vh;}
.menu-panel .dimming.open{height:100vh; opacity: .5;}
.menu-panel .close {
height: 40px;
width: 40px;
opacity: .8;
padding-right: 0px;
font-size: 30px;
border: 1px solid #f00;
border-radius: 50%;
margin: 5px 5px 0px 0;
padding-bottom: 4px;
}
.menu_wrap{padding:20px 0 20px 40px}
.menu_wrap ul{padding:0;margin:0}
.menu_wrap ul li{list-style:none;margin-bottom:15px;float:left;width:100%}
.menu_wrap ul li a{color:#4d4d4d}
.menu_wrap ul li a span{display:inline-block}
.menu_wrap .menu-ico{float:left;width:50px}
.menu_wrap .menu-txt{text-transform:capitalize;border-bottom:1px solid #e5e5e5;width:80%;float:right;padding-bottom:15px;font-size:16px;padding-top:15px;font-family:tata_aia_printregular}

/*----------Login form--------*/

.header_bg{background:rgba(0,0,0,0) url(../img/login-head-bg.png) no-repeat scroll center center;display:block;background-size:100% 100%;margin:0 auto}
.header_bg h1 {
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;}
.header_bg h1 img {
    width: 100%;
    height:100px;
}
.head-container{text-align:center}
.head-container img{display:inline-block}
section.form_area{display:block;float:left;margin-bottom:50px;margin-top:50px;width:100%}
.form_area h4{margin-bottom:0;text-align:center;font-size:1.78em;padding:20px 0}
.chat-input{padding:25px 0}
.form-login > span{color:#ccc;display:block;margin-bottom:20px;text-align:center}
.form_area .form-control{font-weight: bold;border-left:1px solid transparent;border-right:1px solid transparent;border-top:1px solid transparent;box-shadow:none;font-weight:300}
.forgot_password{display:block;font-weight:300;margin-bottom:35px;margin-top:10px;text-align:right;color:#1b9bec}
.forgot_password:hover{text-decoration:none;color:#1b9bec}
.form_area .wrapper .btn-primary{background-color:#171e2e;border:medium none;padding:10px 12px;-webkit-border-radius:0 important;border-radius:0}
.set-new-wrapper span{color:#ccc;display:block;margin-bottom:20px;text-align:center;font-family:'tata_aia_printregular'}
.set-new-wrapper h4.login-subtitle{margin-bottom:0;font-size:22px}
.login-no-padding{padding-right:0;padding-left:0}
.forgot-pass{margin-bottom:20px;margin-top:-25px;color:#1b9bec;font-size:14px;font-family:'helvetica_neueregular'}
.login-btn{margin-top:40px}
input[type="date"].form-control{padding-top:16px !important;}
/*---------- End Login form--------*/
.align-center{text-align: center;}
/*----------- home start --------*/
.burger-menu{margin: 33px 0 20px 20px;}
.top-logo{margin: 8px 0px 0px 20px;}
.home-bell{margin: 33px 0px 0px 0px}
/*----------- home end --------*/
/*SetNew Password*/
.border-left{border-left:1px solid #e2e6e6}
.new-pwd-btn-wrap{margin-top:75px}
.Fact-finder-header{padding:15px;width:100%}
.header-title{color:#1c2535;font-family:tata_aia_printregular;font-size:24px;font-weight:400}
/*-------common timeline ------*/

.header-title{color:#1c2535;font-family:tata_aia_printregular;font-size:24px;font-weight:400}
.header-nav-arrow .fa-bars{font-size:30px;color:#1c2535}
.header-nav-arrow .fa-angle-left::before{color:#1c2535;font-weight:700}
.time-line-head ul{top:0;left:0;position:absolute;margin:0;padding:0;text-align:center;width:100%}
.time-line-head ul li{list-style:outside none none;float:left;padding-right:6.2%}
.time-line-head ul li:last-child{padding-right:0;position:relative}
.time-line-head ul li a{color:#70747b}
.time-line-head ul li a.anchor-active{color:#fff}
.time-line-head ul li a.anchor-active-completed{color:#fff}
.time-line-head ul li a:hover{text-decoration:none}
.time-line-head ul li a span{font-size:13px}
.time_line{background:#1c2535 none repeat scroll 0 0;clear:both;display:block;padding:10px 0;width:100%;height:100px}
.time-line-count{background:#3c4350 none repeat scroll 0 0;border-radius:50%;display:block;height:30px;padding:7px;width:30px;margin:0 auto}
.time-active{background:#5e9732}
.time-line-completed{background:#5e9732;position:relative}
.time-line-head:before{content:'';position:absolute;top:15px;left:20px;right:20px;border-top:1px solid #70747b;z-index:0}
.timeline-content{display:block;line-height:14px}
.time-line-head ul li:last-child:after{content:"";width:200px;background:#1c2535;position:absolute;left:55px;height:30px;top:0}
.time-line-head ul.smr-ul{margin-top:20px}
.time-line-head ul.smr-ul li:last-child:after{left:45px}
.time-line-head ul li:first-child:after{content:"";width:200px;background:#1c2535;position:absolute;right:130px;height:30px;top:0}
.time-line-head ul.smr-ul li:first-child:after{right:118px}
.smr-ul li{display:inline-block;float:none!important}
.time-line-completed{background:#5e9732;position:relative}
.time-line-completed:before{content:"\4c";position:absolute;font-family:'good-solution-icon';left:7px;top:5px;background:#5e9732;font-size:14px;font-weight:300}
.time-line-head .smr-line{margin-top:30p}
.smr-line:before{top:34px}
/*dashboard style*/
.header_top{margin-top:0px;margin-bottom:5px;width:100%;padding:0 15px 0 0}
img.main-logo{margin-left:0px}
.logo-block a {width: 50px;height: 50px;display: inline-block;color: #000; padding-top: 20px;}
.logo-block a i {font-size: 24px; padding-left: 15px;}
.bell-block {padding-top: 20px;}
.navigation-block{width:100%}
.navigation-block .navbar-default{background:rgba(255,255,255,1);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(50%,rgba(241,241,241,1)),color-stop(51%,rgba(237,237,237,1)),color-stop(100%,rgba(238,238,238,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);border:0 none;border-radius:0;margin-bottom:10px}
.navigation-block .navbar-default .navbar-nav > .active > a,.navigation-block .navbar-default .navbar-nav > .active > a:hover,.navigation-block .navigation-block .navbar-default .navbar-nav > .active > a:focus{background-color:#fff;border-top:2px solid #000;color:#555}
.navigation-block .nav > li > a{display:block;font-family:tata_aia_printregular;font-size:18px;padding:15px 72px 15px 40px;position:relative;text-transform: capitalize;}
.doc-upload-nav{margin-bottom: 0px !important;}
header,section{clear:both}
.dashboard-block-1,.dashboard-block-2{clear:both;float:left;width:100%}
.dashboard-block-1 > ul{margin:0;padding:0}
.dashboard-block-1 ul li{float:left;height:140px;list-style:outside none none;padding:15px;width:18%;color:#fff}
.block-color-1{background:#19bcb9 none repeat scroll 0 0}
.dashboard-block-1 ul li:first-child{width:28%}
.block-color-2{background:#f26862 none repeat scroll 0 0}
.block-color-3{background:#fbb040 none repeat scroll 0 0}
.block-color-4{background:#cf5c7f none repeat scroll 0 0}
.block-color-5{background:#9a4d9e none repeat scroll 0 0}
.block-digit{color:#fff;font-family:helvetica_neueregular;font-size:72px;font-weight:lighter}
.block-color-1 span{display:inline-block;padding-right:10px}
.block-text > strong{color:#fff;font-family:tata_aia_printregular;font-size:36px;line-height:normal}
.block-text{font-family:tata_aia_printregular;font-size:24px}
.block-digit1{font-family:helvetica_neueregular;font-size:38px}
.dashboard-block-1 p{margin:0}
.block-text1{font-family:tata_aia_printregular;font-size:14px}
.block-text1 > strong{font-family:tata_aia_printregular;font-size:24px}
.business-tabs .nav-pills > li.active > a,.business-tabs .nav-pills > li.active > a:hover,.business-tabs .nav-pills > li.active > a:focus{background-color:#fff;border-bottom:2px solid #000;color:#000;font-weight:700}
.business-tabs .nav > li > a:hover,.business-tabs .nav > li > a:focus{background-color:transparent}
.business-tabs .nav-pills > li > a{border-radius:0;color:#b2b2b2;font-family:helvetica_neueregular;font-size:18px}
.dashboard-block-2{padding-top:0px}
.chart-block {padding-top: 35px;}
.business-tab-content{margin-top:40px}
.business-tab-content ul{margin:0;padding:0}
.business-tab-content ul li{list-style:outside none none}
.proposal-color{border-radius:50%;height:12px;width:12px}
.clr-1{background:#9fe3cd none repeat scroll 0 0}
.clr-2{background:#8ec348}
.clr-3{background:#348ea9}
.clr-4{background:#1cb3df}
.clr-5{background:#46cdcf}
.business-tab-content ul li span{display:inline-block;margin-right:24px}
.business-overview h2{color:#636770;font-family:tata_aia_printregular;font-size:30px;margin-top:10px}
.proposal-tab-block{clear:both;border-top:1px solid #f5f5f5;width:100%;padding:35px 0 20px;margin-top:35px;float:left}
.proposal-tab-links{width:20%;float:left;padding-left:15px}
.proposal-tab-links a span{display:block}
.pro-tab-count{color:#a0a0a0;font-size:36px;font-family:helvetica_neueregular;font-weight:lighter}
.pro-tab-head{font-size:18px;color:#4b4b4b;font-family:tata_aia_printregular}
.pro-tab-subhead{font-size:14px;color:#a3a3a3;font-family:tata_aia_printregular}
.pro-tab-border1{width:36px;border-bottom:2px solid #9fe3cd}
.pro-tab-border2{width:36px;border-bottom:2px solid #8ec348}
.pro-tab-border3{width:36px;border-bottom:2px solid #348ea9}
.pro-tab-border4{width:36px;border-bottom:2px solid #1cb3df}
.pro-tab-border5{width:36px;border-bottom:2px solid #46cdcf}
.business-image {padding: 0;}
.business-image img {float: right;}
section.content-block{position:relative}
.fav-icon-wrp{position:absolute;right:20px;bottom:50px}
.fav-icon-wrp button{width:80px;height:80px;padding-top: 5px; text-align:center;background:#c6442e;color:#fff;display:table-cell;border-radius:50%;vertical-align:middle;border: 0;box-shadow: 0px 0px 10px #000;}

/*-------Solutions page---------*/
.solutions-head{float:left;padding:20px;color:#fff; width: 100%;}
.head-protection{background:#f26963}
.head-wealth{background:#00b3e2}
.head-savings{background:#fbb040}
.head-child{background:#22bcb9}
.head-retirement{background:#9a4e9e}
.head-others{background:#5e9732}
.solutions-title h2{font-size:24px;font-family:tata_aia_printregular;margin:0}
.solutions-content{margin-top:45px;float:left;padding:0 15px;font-family: helvetica_neueregular;}
.solutions-ico{background:#fff;width:50px;color:#000;text-align:center;height:50px;float:right;border-radius:50%;display:table;}
.solutions-ico .fa{font-size:30px;display:table-cell;vertical-align:middle}
.solutions-head p{margin-top:25px;font-size:14px}
.solutions-space{margin-bottom:40px}
.solution-btn {text-align: center;}
.solution-btn .btn {padding: 6px 40px;margin: 0px 10px;font-family: helvetica_neueregular;}
.tab_wrp .tab-left-align{width:30%;float:left;border:0}
.tab_wrp .nav-tabs > li{width:100%}
.tab-content.tab-right-align{float:right;width:68%;margin-top:5px}
.tab-content-area ul li{width:100%;display:block;padding:10px 0 5px;float:left;border-bottom:1px solid #fff}
.tab-content-area ul li a{color:#fff;font-size:22px}
.tab_wrp .tab-content > .tab-pane{width:100%;float:left;padding:40px;height:495px;overflow-y:scroll}
.tab_wrp .nav-tabs > li.active{position:relative}
.tab_wrp .nav-tabs > li.active:after{position:absolute;content:"";border-right:20px solid #000;border-top:20px solid transparent;border-bottom:20px solid transparent;top:40px;right:-25px}
.tab_wrp .nav-tabs > li.color_1.active:after{border-right:20px solid #f26963}
.tab_wrp .nav-tabs > li.color_2.active:after{border-right:20px solid #00b3e2}
.tab_wrp .nav-tabs > li.color_3.active:after{border-right:20px solid #fbb040}
.tab_wrp .nav-tabs > li.color_4.active:after{border-right:20px solid #22bcb9}
.tab_wrp .nav-tabs > li.color_5.active:after{border-right:20px solid #9a4e9e}
.tab_wrp .nav-tabs > li.color_6.active:after{border-right:20px solid #5e9732}
.tab_wrp .nav-tabs > li.active > a, .tab_wrp .nav-tabs > li.active > a:hover, .tab_wrp .nav-tabs > li.active > a:focus {border: 0px solid #ddd;}
.sol-single-wrap{margin-top: 35px;}
.solution-content-single {width: 90%;margin: 0px auto;}
ul.sol-single-top{background:#fbb040;padding:30px 60px;float:left;width:100%;margin-top:35px}
.sol-txt-content h2{color:#fff;font-size:46px;margin-bottom:75px;font-family:tata_aia_printregular}
.sol-txt-content h2 span{display:block;font-size:26px}
ul.sol-single-top li{width:50%;float:left}
.sol-txt-content p{color:#fff;font-size:16px}
.sol-txt-content p span{display:block;font-size:35px}
span.sol-single-img{width:240px;height:240px;background:#fff;float:right;border-radius:50%; text-align: center;display: table;}
span.sol-single-img .icon{display:table-cell;font-size:146px;vertical-align:middle; padding-top: 30px;}
.sol-single-bottom{float:left;width:100%}
.sol-single-bottom ul li{width:20%;float:left;text-align:center;padding:40px 0}
.sol-single-bottom li span{color:#000;font-size:18px;font-weight:700}
.icon_wrp {border: 2px solid #000;width: 50px;height: 50px;display: table !important;text-align: center;border-radius: 50%;margin: 0px auto 10px;}
.icon_wrp .icon {display: table-cell;vertical-align: middle;text-align: center;font-size: 25px;padding-top: 5px;}
.bottom_back{float:left;width:100%}
.bottom_back a{font-size:24px;color:#000;font-family:tata_aia_printbold}
.bottom_back a i{margin-right:15px}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: transparent;
border-color:transparent;
}
/*----------leadpage----------*/
.lead-content{background:#ecedef;width:100%;float:left;padding-top:20px}
.lead-box-bg{background:#fff;margin-bottom:20px;float:left; width: 100%;}
.lead-head-ico{background:#f26862;width:40px;height:40px;border-radius:50%;text-align:center;font-size:20px;color:#fff;padding-top:6px;margin-right:15px}
.lead-head h2{font-size:18px;margin-top:0}
.lead-head-txt{border-top:1px solid #dedede;width:100%;padding:20px 15px;text-align:center}
.lead-head{padding:20px 15px;float:left;width:100%}
.btn-border{font-weight: 600; font-family:helvetica_neueregular;font-size:20px;background:#f26963;display:block;color:#fff;width:100%}
.lead-contact-details{color:#707070;font-size:16px}
span.date-created-lbl {
    font-weight: 500;
    margin-right: 10px;
}
.date-created {margin-top: 0px; line-height: 16px;}
span.date-on { color: #707070;}
.lead-contact-details i{margin-right:6px}
.margin-remove{margin-bottom: 0;}
span.librari-ico .icon{color:#fbb040}
span.lead-ico .icon{color:#19bcb9}
span.findfactor-ico .icon{color:#f26862}
span.librari-ico .icon,span.lead-ico .icon,span.findfactor-ico .icon{font-size:40px}
.ff-white .icon{color:#fff;font-size:55px;position:relative;top:12px}
.disable_btn{background:#E8E8E8;opacity:.6}
.lst-update{margin-top:35px;text-align:center;color:#a5a5a5;font-size:18px}
.lead-title-wrap { background: #f7f7f7;padding: 15px 0px;}
.red-clr{color: #f26963}
.skyblue-clr{color: #22bcb9}
.yellow-clr{color: #fbb040}
.green-clr{color: #9bca5a}
.fre-clr{color: #7ad3ea}
.purple-clr{color: #9a4e9e}
.blue-clr{color: #00b3e2}
.red-clr-bg{background:#f26963}
.skyblue-clr-bg{background: #22bcb9}
.yellow-clr-bg{background: #fbb040}
.green-clr-bg{background: #9bca5a}
.fre-clr-bg{background: #7ad3ea}
.purple-clr-bg{background: #9a4e9e}
.blue-clr-bg{background: #00b3e2}
ul.panel-top-switch {padding-top: 10px;}
.solutions-ico .icon {font-size: 30px;display: table-cell; vertical-align: middle; padding-top: 8px;}
.lead-box-title{font-family: tata_aia_printbold; font-size: 18px; color: #1e1e1e;}
/*--------create lead page----------*/
.lead_title{background:#1c2535;padding:15px 20px}
.lead_title h2{color:#fff;font-size:18px;font-family:tata_aia_printbold}
.lead-block-wrp{margin:35px 0}
.lead-btn{margin-top:35px}
/*----------srm pending page----------*/
.policy-heading, .policy-numbers{display:block;font-size:14px}
span.policy-numbers{font-size:14px}
.policy-number-block{display:inline-block}
.policy-number-block:first-child{margin-right:20px}
.policy-heading{color:#000}
/*---------Available Download------------*/

.dash-available-download .insured-1{margin-top:5px}
.dash-available-download .insured-box-shadow{box-shadow:0 0 10px #979797}
.dash-available-download .sis-check-icon{margin-top:8px;color:#fff;font-size: 25px;}
.dash-available-download .bs-callout{margin:15px 0 0;border:0;-webkit-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);-moz-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);box-shadow:0 0 5px 3px rgba(156,156,156,0.37);padding:15px}
.dash-available-download .bs-callout-yellow-active{background-color:#fbb040}
.dash-available-download .bs-callout-yellow-active .number-circle{background:#fff;border:1px solid #fff}
.dash-available-download .bs-callout-yellow-active .insured-1{color:#fff}
.dash-available-download .bs-callout-green-active{background-color:#8dc63f}
.dash-available-download .bs-callout-green-active .number-circle{background:#fff;border:1px solid #fff}
.dash-available-download .bs-callout-green-active .insured-1{color:#fff}
.dash-available-download .insured-box-1{border-left:5px solid #fbb040}
.dash-available-download  .insured-box-2{border-left:5px solid #8dc63f }
.dash-available-download .insured-box-1 span{display:block}
.dash-available-download .insured-box-2 span{display:block}
.sub-head{font-size:16px;color:#707070;font-family:helvetica_neueregular}
.dash-available-download span{color:#707070}
.dash-available-download .bs-callout-yellow-active span,.dash-available-download .bs-callout-green-active span{color:#fff}
/*--------View Lead Details Page--------*/

.lead-details-head{background:#1c2535;padding:20px 0}
.lead-tab-links span{display:block;text-align:center;color:#788192;font-size:16px;font-family:tata_aia_printregular}
.lead-details-tab{border-left:1px solid #444e61}
.lead-details-head .fa.fa-book{font-size:42px}
.lead-details-head .media-heading{font-size:36px;color:#fff;font-family:tata_aia_printregular}
.lead-details-head p{color:#fff;font-family:tata_aia_printregular}
.lead-details-content .head{width:100%;padding:30px 15px;color:#fff;font-family:tata_aia_printbold;font-size:36px;display:table}
.lead-details-content .head h2{margin:0;display:table-cell;vertical-align:middle;margin:22px 0 0; font-family: tata_aia_printregular; font-size: 36px;width:78%;}
.lead-details-content .plan-color1 .head{background:#f26862}
.lead-details-content .plan-color2 .head{background:#fbb040}
.lead-details-content .plan-color3 .head{background:#19bcb9}
.lead-details-content .plan-color4 .head{background:#cf5b7e}
.lead-details-content .plan-color5 .head{background:#9c4da0}
.lead-details-content .plan-color6 .head{background:#00b3e2}
.lead-details-content{margin-top:50px; width100%; clear:both;}
.lead-details-content .item-list{padding:15px 10px 0;width:100%;min-height:178px}
.lead-details-content .item-list li{list-style:none;padding:5px 15px}
.lead-details-content .item-list li:last-child{padding-bottom:0}
.lead-details-content .item-list li a{color:#707070;border:1px solid #d6d6d6;display:block;text-align:center;padding:8px;border-radius:25px}
.lead-box .plan{box-shadow:0 0 11px rgba(0,0,0,.3);float:left;width:100%}
.plan.plan-color1{border-bottom:2px solid #f26862}
.plan.plan-color2{border-bottom:2px solid #fbb040}
.plan.plan-color3{border-bottom:2px solid #19bcb9}
.plan.plan-color4{border-bottom:2px solid #cf5b7e}
.plan.plan-color5{border-bottom:2px solid #9c4da0}
.plan.plan-color6{border-bottom:2px solid #00b3e2}
/*-----------My Tool Kits------------------*/
.lead-details-content.my-tool-kits .head h2{font-size:24px}
.lead-details-content.my-tool-kits .head h2 span{display:block;color:#fff}
.lead-details-content.my-tool-kits .item-list{min-height:118px}
.top-space-20{margin-top:20px}
/*----------lead history details-------------*/

.lead-details-history-left{padding:0}
.lead-details-history-left .panel-body{padding:0}
.lead-details-history-left .panel-top-area{background:#f7f7f7;padding:0 30px}
.lead-details-history-left .tab-content{padding:0 30px 0 40px;margin-top:50px}
.lead-details-history-left .nav-tabs > li.active > a,.lead-details-history-left .nav-tabs > li.active > a:hover,.lead-details-history-left .nav-tabs > li.active > a:focus{border-bottom:4px solid #1a2c43;color:#000}
.lead-details-history-left .nav-tabs{border:0}
.lead-details-history-left .nav-tabs > li > a{color:#858585;font-size:18px;border:0}
.media-left .media-object .icon{display:table-cell;vertical-align:middle;font-size:20px}
.media-left .media-object{display:table;background:#f2f2f2;width:50px;height:50px;text-align:center}
ul.panel-top-switch li{float:left;margin-right:10px}
.panel-top-switch .icon{font-size: 35px;}
.lead-details-history-right{padding-left:0}
.lead-details-history .media{margin-bottom:90px}
.media-body p{color:#707070}
.btn-history-1{background:#9bca5a;border-radius:25px;padding:10px 20px}
.btn-history-2{background:#7ad3ea;border-radius:25px;padding:10px 20px}
.date-block-divider{margin:0 10px}
/*-----------my account---------*/
.myaccount-head-bg .img-responsive{width:100%}
.myaccount-block{background:#fff;box-shadow:0 0 20px rgba(0,0,0,.5);position:relative;text-align:center;top:-100px;padding:50px 0}
.dash-myaccount{position:relative}
.dash-change-pswd a{color:#ed6666;font-size:20px;border:2px solid #e4e4e4;padding:15px 40px;font-family:helvetica_neueregular}
.dash-change-pswd{margin-top:60px;display:block;margin-bottom:20px}
.my-acc-head{margin-top:0}
.star-rating {display: inline-block;background: #ed6666;padding: 10px 40px;border-radius: 25px;color: #fff;}
.myaccount-rating {margin-top: -35px;}
/*-------------App Tracker tab common style-----------*/
.main-tab .main-tab-ul {margin:0; padding:0; list-style-type: none; overflow-x: scroll; white-space: nowrap; width: 100%; background: #1c2535;}
.main-tab .main-tab-ul li {margin:0; padding:0; display: inline-block;}
.main-tab .main-tab-ul li a{margin:0; padding:0; display: block; font-size:18px; font-family: 'tata_aia_printbold'; color:#63676f; padding:23px 20px}
.main-tab .main-tab-ul li.active a{border-bottom:5px solid #f26963}
/*--------app tracker page---------*/
.lead_tab_wrp .main-tab .main-tab-ul li a{padding:23px 25px}
.lead_tab_wrp.policy_tracker .main-tab .main-tab-ul li a{padding:23px 40px}
.lead-tabs span{display:block}
.main-tab .main-tab-ul li.active a span{color:#fff}
.lead-tab-number{font-size:36px;font-family:helvetica_neueregular}
span.lead-tab-head{font-family:tata_aia_printbold;font-size:22px}
/*-------------favicon code---------*/
.modal-blackoverlay{ position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:2;}
.popup_wrap{position:absolute;top:0;left:0;width:100%;height:100vh}
.popup_content{background:rgba(28, 37, 53, .95);width:100%;float:left;position:relative;height: 100%;}
.popup_content ul{width:105px;display:block;padding:10px;text-align:center;float:right;position:absolute;right:40px;bottom:40px}
.popup_content ul li{margin-bottom:15px;text-align:center}
.popup_content ul li .popup-ico{width:75px;height:75px;border-radius:50%;font-size:37px;padding-top:15px;margin:0 auto 5px}
.popup_content ul li a{text-decoration:none;font-size:14px;word-wrap:break-word}
.popup_content ul li span{display:block;text-align:center;color:#fff}
.popup_content ul li button {
border: 0px;
background: transparent;
}
span.popup-ico.red-clr-bg.cross-btn {width: 60px;height: 60px;padding-top: 3px;}
.cross-btn .icon {font-size: 25px;}
/*-----------policy tracker----------*/
span.bold-txt {
    font-size: 25px;
    margin: 8px 0px;
    display: block;
    font-weight: 500;
    color: #5e9732;
}


/*App Tracker Css*/
.tab-innerCarouselWrap.tab-content{overflow: auto;}
.tab-innerCarouselWrap .tab-pane, .tab-innerCarouselWrap .tab-content-area, .tab-innerCarouselWrap .lead-content{height:100%;}
.tab-innerCarouselWrap .tracker-carousel .carousel-demo{display: block; margin-top: 0px; height:100%;}
.tab-innerCarouselWrap .tracker-carousel .carousel-demo ul{border:1px solid orange; width:auto; max-width: none;}
.tab-innerCarouselWrap .rn-carousel-indicator span:last-child{color:transparent;}
.tab-innerCarouselWrap .tab-content-area .lead-content{padding-top:0px; position: relative}
.tab-innerCarouselWrap .tracker-carousel, .tab-innerCarouselWrap .carousel5{height:100%;}
.tab-innerCarouselWrap .carousel-pagination{position: absolute; bottom:50px; left:0px; width:100%;}
.rn-carousel-indicator span{font-size:40px; margin: 0px 5px}
.date-created .date-created-lbl, .date-created .date-on{font-size:16px;}
.tab-innerCarouselWrap .carousel5 li{background: none}
/*----------pdf container---------*/
.pdf-logo-block{text-align:center;width:100%}
footer.pdf-container-block-links{text-align:center}
footer.pdf-container-block-links,.pdf-logo-block{text-align:center;border-top:1px solid #000;border-bottom:1px solid #000;padding:15px 0}
.pdf-container-block{min-height:calc(100vh - 131px);min-height:-webkit-calc(100vh - 131px);overflow-y: scroll;}
footer.pdf-container-block-links .btn{height:40px;padding:0 30px}

/*----------naved new css-----------*/
/*--------------------------SIS CSS START--------------------------*/

/*---------SIS 01 funds start--------*/
.sis-chevron-left{padding-top:20px!important}
h2.sis-head-title{padding:15px 0;font-size:24px;font-family:'helvetica_neueregular';margin:0;font-weight:700}
.sis-sub-header{background-color:#1b2331}
.bs-callout-info{border-left-color:#9a4e9e!important}
.number-circle{border-radius:50%;width:30px;height:30px;float:left;text-align:center;padding:3px;margin-right:20px;border:1px solid #c5c5c5}
.insured-1{margin-top:5px}
.insured-box-shadow{box-shadow:0 0 10px #979797}
.sis-check-icon{margin-top:8px;color:#fff}
.bs-callout{margin:15px 0 0;border:0;-webkit-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);-moz-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);box-shadow:0 0 5px 3px rgba(156,156,156,0.37)}
.bs-callout-yellow-active{background-color:#fbb040}
.bs-callout-yellow-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-yellow-active .insured-1{color:#fff}
.bs-callout-green-active{background-color:#8dc63f}
.bs-callout-green-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-green-active .insured-1{color:#fff}
.bs-callout-pink-active{background-color:#cf5c7f}
.bs-callout-pink-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-pink-active .insured-1{color:#fff}
.bs-callout-aqua-active{background-color:#22bcb9}
.bs-callout-aqua-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-aqua-active .insured-1{color:#fff}
.bs-callout-purple-active{background-color:#9a4e9e}
.bs-callout-purple-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-purple-active .insured-1{color:#fff}
.bs-callout-sky-active{background-color:#00b3e2}
.bs-callout-sky-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-sky-active .insured-1{color:#fff}
.bs-callout-orange-active{background-color:#f26862}
.bs-callout-orange-active .number-circle{background:#fff;border:1px solid #fff}
.bs-callout-orange-active .insured-1{color:#fff}
.bs-callout a{display:block;padding:30px 15px;color:#333}
.insured-box-1{border-left:5px solid #fbb040}
.insured-box-2{border-left:5px solid #8dc63f}
.insured-box-3{border-left:5px solid #cf5c7f}
.insured-box-4{border-left:5px solid #22bcb9}
.insured-box-5{border-left:5px solid #9a4e9e}
.insured-box-6{border-left:5px solid #00b3e2}
.insured-box-7{border-left:5px solid #f26862}
.sis-fund-btn-1{background-color:#f26963!important;font-family:'helvetica_neueregular'}
.funds-container{margin-bottom:80px}
.title-section h2{font-size:20px;font-family:'tata_aia_printregular';color:#535353}
.fund-type-text{float:left;padding-right:35px}
.fund-type-text h3{font-family:'tata_aia_printregular';font-size:18px;color:#535353;float:left !important:}
.funds-chk-1{float:left}
.funds-chk-2{float:left;margin-left:20px;margin-top:10px}
.funds-chk-1, .funds-chk-2 {
    margin-top: -15px !important;
}
.funds-chkbox-group{float:left;margin-top:7px}
.sis-rider-left-inside{margin-top:-30px}
.rider-next{margin-top:60px}
.check-box-wrap-fund1 input[type='checkbox']{display:none}
.check-box-wrap-fund1 input[type='checkbox'] + label{margin-left:30px;margin-top:2px;cursor:pointer;color:#999;letter-spacing:.02em;font-family:'helvetica_neueregular';padding:0 0 20px}
.check-box-wrap-fund1 input[type='checkbox'] + label:before{content:'\f096';font-size:20px;position:absolute;top:0;left:0;font-family:'FontAwesome';color:#f26963;border-radius:0!important}
.check-box-wrap-fund1 input[type='checkbox']:checked + label:before{content:'\f046';color:#f26963}
.check-box-wrap-fund2 input[type='checkbox']{display:none}
.check-box-wrap-fund2 input[type='checkbox'] + label{margin-left:30px;margin-top:18px;cursor:pointer;color:#999;letter-spacing:.02em;font-family:'helvetica_neueregular';padding:0 0 20px}
.check-box-wrap-fund2 input[type='checkbox'] + label:before{content:'\f096';font-size:20px;position:absolute;top:0;left:0;font-family:'FontAwesome';color:#f26963;border-radius:0!important;margin-top:15px}
.check-box-wrap-fund2 input[type='checkbox']:checked + label:before{content:'\f046';color:#f26963}
.insured-box-funds{border-left:5px solid #fbb040!important;margin-bottom:50px}
.sis-rider-left p.funds-para{margin-top:0!important}
.funds-input{width:60%;float:left;margin-top:-10px;margin-left:-20px}

/*---------SIS 01 insured start--------*/
.sis-form-wrap{padding:20px 40px 0 40px;}
.custom-drp .form-control{padding-right:25px;border-radius: 0 !important}
.custom-drp:before{content:'\f078'; position: absolute; top:7px; right:19px; font-size:18px; color:#666666; font-family:'FontAwesome';border-radius: 0 !important}
.custom-drp{position: relative;font-weight: 500}
.form-label{font-family: 'tata_aia_printbold';color: #6c6c6c;font-size: 14px;width:100%;}
form-label-inline{font-family: 'tata_aia_printbold';color: #6c6c6c;font-size: 14px;}
select.form-control{appearance:none;-webkit-appearance:none;-moz-appearance:none;outline: none;}
select.form-control:click{outline: none !important}

.check-box-wrap1 input[type='checkbox']{display: none;}
.check-box-wrap1 input[type='checkbox'] + label{margin-left:30px;margin-top:2px; cursor:pointer; color:#999999; letter-spacing: 0.02em;font-family: 'helvetica_neueregular';padding:0px 0px 20px 0px }
.check-box-wrap1 input[type='checkbox'] + label:before{content:'\f096'; font-size:30px; position: absolute; top:0px; left:0px; font-family:'FontAwesome';color:#f26963;border-radius: 0px !important}
.check-box-wrap1 input[type='checkbox']:checked + label:before{content:'\f046';color: #f26963}

.gender-radio-wrapper{margin-top:2px;}
.gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.male-wrapper input[type='radio']{display: none;}
.male-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.male-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.male-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.female-wrapper input[type='radio']{display: none;}
.female-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.female-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.female-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*smoking non smoking check*/
.smoke-radio-wrapper{margin-top:2px;}
.smoke-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.smoker-wrapper input[type='radio']{display: none;}
.smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.smoker-wrapper input[type='radio'] + label:before{content:'\73'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.non-smoker-wrapper input[type='radio']{display: none;}
.non-smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.non-smoker-wrapper input[type='radio'] + label:before{content:'\75'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.non-smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
.dob{margin-bottom: 0px !important;}
.custom-form{margin-bottom:30px}
.form-title{margin-bottom:25px;font-family:'tata_aia_printbold'}
.custom-form-wrapper{margin-top:75px}
.form-title{font-size:21px;font-weight:600}
.btn-default,.btn-default:hover,.btn-default:focus,.btn-default{background:#f26963;color:#fff;letter-spacing:.05em}
.bs-callout-rider{margin:15px 0 0;border:0;-webkit-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);-moz-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);box-shadow:0 0 5px 3px rgba(156,156,156,0.37)}
.bs-callout-rider a{display:block;padding:22px 15px 15px;color:#333}
.sis-rider-left h4{font-size:17px;color:#707070;font-family:'tata_aia_printbold';padding:22px 10px 5px 0}
.sis-rider-left p{font-size:14px;color:#707070;padding:0 10px 15px 0;margin-top:30px}
.sis-rider-right{margin-top:-5px}
.sis-rider-right h4{font-size:17px;color:#707070;font-family:'tata_aia_printbold';padding:22px 10px 5px 0}
.insured-box-rider{border-left:5px solid #152942;margin-bottom:50px}
.cbcontainer{display:block}
.rider-chekbox{position:relative}
.rider-chekbox input[type='checkbox']{display:none}
.rider-chekbox input[type='checkbox'] + label{font-size:14px;color:#707070;font-weight:400}
.rider-chekbox input[type='checkbox'] + label:before{content:'\f096';font-size:20px;position:absolute;top:-5px;right:5px;font-family:'FontAwesome';color:#f26963}
.rider-chekbox input[type='checkbox']:checked + label:before{content:'\f046';color:#f26963;right:1px}
.rider-input{width:60%;float:left;top:-10px;border-left:2px solid #e7e9ec;margin-left:-20px}
.rider-input .assured-input{padding-left:15px}
.rider-chk-box{display:inline-block!important;position:relative;top:25px;left:50px}
.pading-bottom{padding-bottom: 60px;}
/*---------SIS 01 insured end--------*/
/*------lead details----*/
.header-nav-arrow {
float: left;
margin-top: 0px;
padding-left: 20px;
height: 50px;
width: 50px;
padding-top: 10px;
}
a.header-nav-arrow{color: #000000;}
.Fact-finder-header{padding:0px;width:100%}
.header-title{color:#1c2535;font-family:tata_aia_printregular;font-size:24px;font-weight: 400px;}
h2.header-title {
margin-top: 2px !important;
margin-bottom: 0 !important;
padding-top: 12px;
}
.sis-form-wrap .form-btn-wrap{display: inline-block;}
/*------lead details----*/
/*------------------------------- Fact Finder Start ---------------*/

.fact-radio-wrapper{margin-top:2px;}
.fact-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*YES Radio Button*/
.yes-wrapper input[type='radio'] {display: none;}
.yes-wrapper input[type='radio'] + label{padding-left: 40px; cursor: pointer;font-family: 'helvetica_neueregular';letter-spacing: 0.04em;font-size: 16px;color: #999999}
.yes-wrapper input[type='radio'] + label:before{content:'\4c'; width: 30px;height: 30px; position: absolute; top:5px; left:0; /*font-family:'FontAwesome';*/font-family:'good-solution-icon'; border-radius: 20px; padding:4px 0; text-align: center; font-size:15px; background:#e7e9ec}
.yes-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*NO Radio Button*/
.no-wrapper input[type='radio']{display: none;}
.no-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.no-wrapper input[type='radio'] + label:before{content:'\f00d'; width: 30px;height: 30px; position: absolute; top:5px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:4px 0; text-align: center; font-size:15px; background:#e7e9ec}
.no-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
.fact-middle-button{padding: 60px 0 30px 0px !important;}
.fact-btn-left{margin-bottom: 10px;}
.fact-btn-right{}
.fact-table-wrapper p{font-family:'tata_aia_printregular';font-size: 16px;}
.fact-table-wrapper th{border-bottom: 0 !important;background-color: #e8e8e8;color: #f08783;font-family:'tata_aia_printregular';font-size: 16px;}
.fact-table-wrapper td{border-top: 0 !important;font-family: 'helvetica_neueregular';font-size: 16px;}
.fact-table-input{margin-bottom: -30px !important;}
.need-text{position: relative}
.need-text:before{position: absolute; bottom:-2px; left:0px; content:''; width:100%; background: #ff3a51; height:2px}
/*.dash-border{position: relative}
.dash-border:before{position: absolute; top:50%; left:0px; height:20px; width:1px; background: #dfe3e3; content:''; margin-top:-10px; z-index: 1}
.dash-border:after{position: absolute; top:50%; right:0px; height:20px; width:1px; background: #dfe3e3; content:''; margin-top:-10px}*/
.fact-responsive-table{overflow-x:visible}
.fac-twolabel{margin-left: 60px;letter-spacing: 0.04em;font-size: 16px;cursor: pointer;}
.fact-rad-title{padding: 15px 0 5px 0px;font-size: 16px;color: #717171}
.custom-disabled{background-color: #ffffff !important;border: none !important}
.custom-disabled::-webkit-input-placeholder {color: #616161 !important;font-size: 16px;font-family:'tata_aia_printregular';}
.disabled-error{background-color: #ffffff !important;border: none !important}
.disabled-error::-webkit-input-placeholder {color: #616161 !important;font-size: 12px;background-color: #ffffff !important;border: none !important}
.fact-sub-text{font-size: 13px;font-family:'tata_aia_printregular';color: #9c9c9c}
.signature-padding{padding: 20px 0 20px 0;}
.bottom-fixed{padding: 10px 0px 10px 0 !important;}
.custom-footer{border: none !important}

/*------------------------------- Fact Finder end ---------------*/
/*------------------------------- SMR Start ---------------*/

.smr-para{color: #7c7c7c;font-size: 14px;font-family: 'Arial';font-weight: 300}
.smr-para span{min-height: 20px !important;min-width: 20px !important;background-color: aqua;}
label.form-label-inline{color: #7c7c7c;font-size: 12px;font-family:'tata_aia_printregular';}
.custom-help-block{color: #b2b2b2;font-size: 11px;font-family: 'helvetica_neueregular';}
.custom-padding1{padding-top: 23px;}
.custom-padding2{padding-top: 8px;}
/*------------------------------- SMR end ---------------*/

/*-------------------------------- Doc Upload -------------------*/

.camera-icon{width: 150px;border:2px solid #000000; display: inline-block; padding:48px 0; border-radius: 75px;}
.camera-icon i{font-size:55px; color:#717171}
uploaded-doc{width: 33% !important;height: 240px !important;max-width: 100%; background-color: orange}
.edit-fab{width: 45px;height: 45px;background-color: #f26862;position: absolute;border-radius: 75px;right: 13%;top: 41%;box-shadow: 0px 8px 10px #cacaca;}
.edit-fab i{padding: 10px;font-size: 22px;color: #fff;}
.check-icon{font-size: 100px;}
.complete-text{color: #8dc63f}
.complete-text1{color: #63676f !important}

/*----Main Tab start----*/
.main-tab .main-tab-ul {margin:0; padding:0; list-style-type: none; overflow-x: scroll; white-space: nowrap; width: 100%; background: #1c2535;}
.main-tab .main-tab-ul li {margin:0; padding:0; display: inline-block;}
.main-tab .main-tab-ul li a{margin:0; padding:0; display: block; font-size:18px; font-family: 'tata_aia_printbold'; color:#63676f; padding:23px 20px}
.main-tab .main-tab-ul li.active a{border-bottom:5px solid #f26963}
.main-tab .main-tab-ul li a:focus, .main-tab .main-tab-ul li a:hover{outline:0px; text-decoration: none;}
/*-----Main Tab end----*/
/*------------------------------ Doc Upload ----------------------*/
.tab_wrp .tab-left-align{width:30%;float:left;border:0}
.tab_wrp .nav-tabs > li{width:100%}
.solutions-head{float:left;padding:20px;color:#fff; width: 100%;}
.head-protection{background:#f26963}
.solutions-title h2{font-size:24px;font-family:tata_aia_printregular;margin:0}
.solutions-ico{background:#fff;width:50px;color:#000;text-align:center;height:50px;float:right;border-radius:50%;display:table;}
.solutions-ico .icon{font-size:30px;display:table-cell;vertical-align:middle}
.solutions-head p{margin-top:25px;font-size:14px}
.head-wealth{background:#00b3e2}

/*Carousel*/
.tracker-carousel .carousel-demo{display: block; margin-top: 0px;}
.tracker-carousel .carousel-demo ul{border:1px solid orange; width:auto; max-width: none;}
.rn-carousel-indicator span:last-child{color:#ffffff;}
/******Modal Popup*****/
.modal{text-align:center;padding:0!important}
.modal:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-4px}
.modal-dialog{display:inline-block;text-align:left;vertical-align:middle}

/*-------rohit css-----------*/
/*Uniform Css*/
body{font-size:16px; letter-spacing: 0.02em; font-family: 'helvetica_neueregular'!important; margin:0px; background: #ffffff}
.application-form-wrapper .pull-none{float: none!important}
.application-form-wrapper .custom-form .form-control{border:0;  box-shadow: none; border-bottom:1px solid #e2e6e6; font-size:15px; height:40px; padding-left:0px; border-radius:0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em;color:#b0b0b0}
.application-form-wrapper .custom-form .form-control:focus, .application-form-wrapper .custom-form .form-control:focus{border-bottom:1px solid #1b9bec;}
.application-form-wrapper .custom-form{margin-bottom:30px}
.application-form-wrapper .form-title{margin-bottom: 25px; font-family: 'tata_aia_printbold'}
.application-form-wrapper .custom-form-wrapper{margin-top:40px}
.application-form-wrapper .form-title{font-size: 21px; font-weight:600}
.application-form-wrapper .custom-btn .btn{height:48px; font-size:20px; border-radius: 0}
.application-form-wrapper .custom-drp{position: relative;}
.application-form-wrapper .custom-drp .form-control{padding-right:25px;}
.application-form-wrapper .custom-drp:before{content:'\f078'; position: absolute; top:7px; right:4px; font-size:18px; color:#666666; font-family:'FontAwesome'}
.application-form-wrapper .form-btn-wrap{margin-top:55px}
.application-form-wrapper .form-label{font-family: 'tata_aia_printbold'; font-size:14px; color:#6e6e6e}
.application-form-wrapper .main-form-title {margin-bottom:15px;}
.application-form-wrapper .main-form-title .form-label{font-size:20px; color:#000000;}
.application-form-wrapper select{-webkit-appearance:none; appearance:none;}
.application-form-wrapper .error-msg{font-size:14px; font-family: 'tata_aia_printregular'; color:#de1e1e; line-height:14px; margin-top: 5px; min-height:16px; opacity: 0;}

/*Bootstrap Override*/
.application-form-wrapper .btn, .application-form-wrapper .btn:focus, .application-form-wrapper .btn:hover{border:0px; outline: 0px;}
.application-form-wrapper .btn{font-family: 'tata_aia_printbold'; }
.application-form-wrapper .btn-primary, .application-form-wrapper .btn-primary:hover, .application-form-wrapper .btn-primary:focus, .application-form-wrapper .btn-primary{background: #263247}
.application-form-wrapper .btn-default, .application-form-wrapper .btn-default:hover, .application-form-wrapper .btn-default:focus, .application-form-wrapper .btn-default{background: #f26963; color:#ffffff; letter-spacing: 0.05em}

/* Application Form */
/* Temp Files */
.app-page-header{height:50px; border-bottom:1px solid #000000; position:fixed; top:0px; left:0px; width:100%; background: #ffffff; z-index: 1}
.page-loader{height:30px; background: #13bfb6; position:fixed; top:50px; left:0px; width:100%; z-index: 1}
.main-tab-wrapper{height:67px; background: #1c2535;}

/*Main Tab Css*/
.application-form-wrapper .application-form-inner-tab-wrapper{display: inline-block; width:100%; height:100%}
/*
.application-form-wrapper .application-form-inner-tab-content{height: 54vw; overflow: scroll}
.application-form-wrapper .tab-nav{height: 54vw; overflow-y: scroll}
*/
.application-form-wrapper .tab-nav{width:100px; float: left}
.application-form-wrapper .tab-nav .tab-ul{display: block; margin: 0; padding: 0; list-style-type: none}
.application-form-wrapper .tab-nav .tab-ul li{display: block; margin:0; padding:0; position:relative}
.application-form-wrapper .tab-nav .tab-ul a{display: block; font-size:14px; font-family: 'tata_aia_printregular'; line-height: 16px; padding:27px 15px; color:#cdced0; word-break: break-all;}
.application-form-wrapper .tab-nav .tab-ul a:hover, .application-form-wrapper .tab-nav li a:focus{text-decoration: none; outline:0px;}
.application-form-wrapper .tab-nav .tab-ul li.active a{-webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); color:#f26963!important}
.application-form-wrapper .tab-nav .tab-ul li.active:first-child a{-webkit-box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important; -moz-box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important; box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important;}


.application-form-wrapper .tab-nav .tab-ul li.active:before{content:''; position: absolute; top:0; right:-11px; height:100%; width:17px; background: #ffffff;}
.application-form-wrapper .application-form-inner-tab-content{width:calc(100% - 100px); width:-webkit-calc(100% - 100px); float: left; height:79vh; overflow-y:scroll;}
.application-form-wrapper .upload-photo-wrap{color:#b0b0b0; border-bottom:1px solid #e2e6e6; padding:6px 0px; margin-top:2px}
.application-form-wrapper .upload-photo-wrap .camera-placeholder{font-family: 'helvetica_neueregular'; letter-spacing: 0.02em}
.application-form-wrapper .camera-action{float: right; font-size:18px; color:#4c4c4c; margin-right:5px}
.application-form-wrapper .form-control-hint{font-size:14px; color:#b0b0b0; letter-spacing: 0.02em}
.application-form-wrapper .application-form-inner-tab-content{-webkit-box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); -moz-box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); padding:0 10px 100px 25px; min-height:250px}

/*Main Tab*/
.main-tab .main-tab-ul {margin:0; padding:0; list-style-type: none; overflow-x: scroll; white-space: nowrap; width: 100%; background: #1c2535;position: fixed; top:80px; left:0px; width:100%; z-index: 1}
.main-tab .main-tab-ul li {margin:0; padding:0; display: inline-block;}
.main-tab .main-tab-ul li a{margin:0; padding:0; display: block; font-size:18px; font-family: 'tata_aia_printbold'; color:#63676f; padding:23px 20px}
.main-tab .main-tab-ul li.active a{border-bottom:5px solid #f26963}
.main-tab .main-tab-ul li a:focus, .main-tab .main-tab-ul li a:hover{outline:0px; text-decoration: none;}

/*Tab Content Css*/
.application-form-wrapper .tab-content{margin-top:156px}

/*Nominees Tab*/
.application-form-wrapper .nominee-tabs li a {padding:42px 18px}
.application-form-wrapper .application-form-title{font-size:14px; font-family: 'tata_aia_printregular'; color:#6e6e6e; margin:15px 0 30px 0;}
.application-form-wrapper .nominee-application-form-wrap{border:1px solid #dadada; border-left:5px solid #9a4e9e; padding:20px 40px 0 40px; position: relative}
.application-form-wrapper .delete-button{position: absolute; top:5px; right:5px; color:#babdc2; padding: 0px 5px; font-size:22px;}
.application-form-wrapper .gender-radio-wrapper{margin-top:2px;}
.application-form-wrapper .gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 4%;}
/*Male Radio Button*/
.application-form-wrapper .male-wrapper input[type='radio']{display: none;}
.application-form-wrapper .male-wrapper input[type='radio'] + label{padding-left: 50px; cursor: pointer}
.application-form-wrapper .male-wrapper input[type='radio'] + label:before{content:'\53'; width:40px; position: absolute; top:0px; left:0; font-family: "good-solution-icon"; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.application-form-wrapper .male-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.application-form-wrapper .female-wrapper input[type='radio']{display: none;}
.application-form-wrapper .female-wrapper input[type='radio'] + label{padding-left: 50px; cursor: pointer}
.application-form-wrapper .female-wrapper input[type='radio'] + label:before{content:'\52'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.application-form-wrapper .female-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
.application-form-wrapper .nominess-btn{margin-top:20px;}

/*Personal Info*/
.application-form-wrapper .check-box-wrap{position: relative;}

.application-form-wrapper .check-box-wrap input[type='checkbox']{display: none;}
.application-form-wrapper .check-box-wrap input[type='checkbox'] + label{padding-left:45px; cursor:pointer; color:#adadad; letter-spacing: 0.02em;}
.application-form-wrapper .check-box-wrap input[type='checkbox'] + label:before{content:'\f096'; font-size:35px; position: absolute; top:-6px; left:0px; font-family:'FontAwesome';}
.application-form-wrapper .check-box-wrap input[type='checkbox']:checked + label:before{content:'\f046';}

.application-form-wrapper .tick-radio-btn-wrap{height:42px; float:left; margin-right:4%;}



.application-form-wrapper .tick-radio-btn-wrap input[type='radio']{display: none;}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio'] + label{padding:10px 0 10px 60px; cursor: pointer; position: relative}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio'] + label:before{content:'\4c'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec; color:#ffffff;}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}

.application-form-wrapper .blank-checkbox{display: inline-block; margin-top:10px}
.application-form-wrapper .add-more-address-btn {display: inline-block; width:135px; float: right; margin-top:0px;}
.application-form-wrapper .add-address-checkboxwrap{margin-top:15px;}
.application-form-wrapper .blank-checkbox input[type='checkbox'] + label:before{top:-8px}
.application-form-wrapper .blank-checkbox input[type='checkbox']:checked + label:before{top:-8px}
.application-form-wrapper .right-align-checkbox{position: relative;}

.application-form-wrapper .right-align-checkbox input[type='checkbox']{display: none;}
.application-form-wrapper .right-align-checkbox input[type='checkbox'] + label{padding:7px 0 7px 0; cursor:pointer; color:#6e6e6e; letter-spacing: 0.02em; word-break: break-word; padding-right: 25px}
.application-form-wrapper .right-align-checkbox input[type='checkbox'] + label:before{content:'\f096'; font-size:35px; position: absolute; top:-6px; right:0px; font-family:'FontAwesome';}
.application-form-wrapper .right-align-checkbox input[type='checkbox']:checked + label:before{content:'\f046'; right:-5px}

/*Existing Policy*/
.application-form-wrapper .existing-policy-tile{border:1px solid #dadada; padding:20px 15px 0 15px; margin-bottom:8px}
.application-form-wrapper .rupppe-textbox .form-control{font-family:'FontAwesome','helvetica_neueregular'}
.application-form-wrapper .policy-tile-count{border:1px solid #c2c2c2; display: inline-block; border-radius: 15px; width: 30px; text-align: center; padding: 3px 0; margin-top:20px}
/*Borders*/
.application-form-wrapper .orange-border{border-left:5px solid #fbb040!important}
.application-form-wrapper .pink-border{border-left:5px solid #cf5c7f!important}
.application-form-wrapper .maroon-border{border-left:5px solid #9a4e9e!important}
.application-form-wrapper .yellow-border{border-left:5px solid #ffd200!important}
.application-form-wrapper .skyblue-border{border-left:5px solid #19bcb9!important}
.application-form-wrapper .purple-border{border-left:5px solid #a234f7!important}
.application-form-wrapper .ligthred-border{border-left:5px solid #f56262!important}


.application-form-wrapper .custom-drp .form-control option{font-family:'FontAwesome','helvetica_neueregular';}
.application-form-wrapper .familyDetailsul ul{display: block; padding: 0px; margin: 0px; list-style-type: none; margin-top:35px}
.application-form-wrapper .familyDetailsul li{display: block; margin:0px; padding:0px; font-family: 'tata_aia_printbold'; font-size: 14px; margin-bottom:5px}
.application-form-wrapper .application-shorttxtbox{display: inline-block; width:250px;}
.application-form-wrapper .myapplicationdate-wrap{margin-top:20px;}
.application-form-wrapper .application-shorttxtbox .form-control{border: 0; box-shadow: none; border-bottom: 1px solid #e2e6e6; font-size: 16px; height: 40px; padding-left: 0px; border-radius: 0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em; color: #b0b0b0;}
.application-form-wrapper .application-shortpara{font-family: 'tata_aia_printbold'; font-size:14px}


/*Question Wrapper*/
.question-outerwrap{padding:0px 20px;}
.application-form-wrapper .question-wrap{padding:50px 38px; position: relative; margin-bottom:30px;}
.application-form-wrapper .question-text{font-size:14px; color:#757575; font-family: 'tata_aia_printregular'; word-break: keep-all;}
.application-form-wrapper .compulsory-mark sup i{color:#de1e1e; font-size:7px;}
.application-form-wrapper .answer-buttons-wrap{float: right; position: absolute; right:-18px; top:50%; margin-top:-50px}
.application-form-wrapper .answer-yes, .application-form-wrapper .answer-no{position: relative; display: block; margin-right:0px; float: none;}
.application-form-wrapper .answer-yes{margin-bottom:15px;}
.application-form-wrapper .answer-no input[type='radio'] + label:before{content:'\4d';}
.application-form-wrapper .answer-yes input[type='radio'] + label, .application-form-wrapper .answer-no input[type='radio'] + label{padding:20px;}
/*Answer Active*/
.application-form-wrapper .answer-yes input[type='radio']:checked + label:before{background: #16dd6f; color:#ffffff}
.application-form-wrapper .answer-no input[type='radio']:checked + label:before{background: #142942; color:#ffffff}
.question-lbl{margin:5px 20px 0 0px; float:left;}
.questionhiddenbtn-wrapper{margin-top:15px; color:#de1e1e}
.application-form-wrapper .normalradio-wrap{float: left; position: relative}
.application-form-wrapper .normalradio-wrap input[type='radio']{display: none;}
.application-form-wrapper .normalradio-wrap input[type='radio'] + label{padding: 6px 0 0 40px; cursor: pointer; margin-right:15px}
.application-form-wrapper .normalradio-wrap input[type='radio'] + label:before{content:'\f10c'; width:25px; position: absolute; top:-5px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:25px; color:#b9b9b9}
.application-form-wrapper .normalradio-wrap input[type='radio']:checked + label:before{content:'\f192'; color:#01d501;}
.questiontext-box-wrap{float: left; width:30%;}
.questiontext-box-wrap input[type="text"]{border: 0; box-shadow: none; border-bottom: 1px solid #e2e6e6; font-size: 16px; height: 26px; padding-left: 0px; border-radius: 0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em; color: #b0b0b0; width:100%}
.fixed-width-lbl{min-width:88px;}
.grey-lbl{color:#757575; font-family: 'tata_aia_printregular'; word-break: keep-all;}
.grey-question-wrap{margin-bottom:15px;}
.sub-question{margin-top:15px; }
.sub-questions-radio{padding-top:5px;}
.application-form-wrapper .red-text{color:#de1e1e; margin-top:15px;}
.application-form-wrapper .pagination-wrap {margin-top: 50px}
.application-form-wrapper .pagination-wrap ul{margin: 0; padding: 0; list-style-type: none; text-align: center; display: block}
.application-form-wrapper .pagination-wrap ul li{padding:0; margin:0; display: inline-block}
.application-form-wrapper .pagination-wrap ul li a{display: block; padding:5px; margin:2px; border-radius:6px; background: #d3d4d5}
.application-form-wrapper .pagination-wrap ul li .active-page{background: #f26862}


.error-messages {
color: red;
position: absolute;
bottom: 6px;
font-size: 13px;
width: 100%;
}
.set-new-wrapper .error-messages {
bottom: -28px;
}
/*----------Downloads page start---------*/



.download-list .check-right-label{float: left;}
.download-list .check-right-input{float: right;top:15px;}
.custom-right-chk{padding-bottom: 30px;padding-top: 20px; border-bottom: 1px solid #1b9bec;}
.border-download{border-bottom: 1px solid #1b9bec;}

.checkbox-down input[type='checkbox']{display: none;}
.checkbox-down input[type='checkbox'] + label{cursor:pointer;color:#282828;letter-spacing:.02em;font-family:'helvetica_neueregular';    padding: 10px 0 15px 0px; position:relative; display:block;border-bottom: 1px solid #1b9bec;}
.checkbox-down input[type='checkbox'] + label:before{content: '\f096';font-size: 20px;font-family:'FontAwesome'; position:absolute; top:10px; right:6px;color:#999999}
.checkbox-down input[type='checkbox']:checked +:before{content:'\f046';color:#f26963;font-family:'FontAwesome';right: 3px;}
.para-download{margin: 0 0 10px 0;}
@media (min-width: 768px){
  #left {
    position: fixed;
    top: 70px;
    bottom: 65px;
    left: 0;
    /*width: 75%;*/
    overflow-y: scroll;
  }

  #right {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 0;
    overflow-y: scroll;
    /*width: 25%;*/
  }
}
/*----------Downloads page end---------*/
/*Set Height 100%*/
.application-form-wrapper .tab-pane, .application-form-wrapper .tab-content-wrap, .application-form-wrapper .application-form-inner-content, .application-form-wrapper .application-form-inner-tab-content{height: 100%;}

/*SMR Application*/
.application-form-wrapper .smr-content, .application-form-wrapper .smr-content-ul li, .application-form-wrapper .table-responsive{font-family: 'tata_aia_printregular'; font-size:14px;}

/*Carausel Slider*/
.application-form-wrapper .carousel-demo{margin-top:0; display: block}
.application-form-wrapper .carousel-demo ul[rn-carousel]{width:100%}

@media screen and ( max-width:925px){
.application-form-wrapper .application-form-inner-tab-content{width:88%;}
}

@media screen and ( max-width:850px){
.application-form-wrapper .application-form-inner-tab-content{width:87%;}
}

@media screen and ( max-width:790px){
.application-form-wrapper .male-wrapper input[type='radio'] + label{font-size:14px;}
.application-form-wrapper .female-wrapper input[type='radio'] + label{font-size:14px;}
.application-form-wrapper .application-form-inner-tab-content{width:86%;}
}
/*---------------Media Query--------------*/
@media (max-width:768px) {
.time-line-head ul li{padding-right:3%}
.navigation-block .nav > li > a{padding:15px 30px}
}
