

.custom-drp .form-control{padding-right:25px;border-radius: 0 !important}
.custom-drp:before{content:'\f078'; position: absolute; top:7px; right:19px; font-size:18px; color:#666666 ; font-family:'FontAwesome';border-radius: 0 !important}
.custom-drp{position: relative;font-weight: 500}
select{appearance:none; -webkit-appearance:none}

.gender-radio-wrapper{margin-top:2px;}
.gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.male-wrapper input[type='radio']{display: none;}
.male-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.male-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec }
.male-wrapper input[type='radio']:checked + label:before{background:#f26963 ; color:#ffffff ;}
/*Female Radio Button*/
.female-wrapper input[type='radio']{display: none;}
.female-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.female-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec }
.female-wrapper input[type='radio']:checked + label:before{background:#f26963 ; color:#ffffff ;}

.form-label{font-family: 'tata_aia_printbold';color: #6c6c6c ;font-size: 14px;}
.custom-form .form-control{border-top:1px solid transparent;border-right:1px solid transparent;border-left:1px solid transparent;box-shadow:none;border-bottom:1px solid #e2e6e6 ;font-size:16px;height:40px;padding-left:0;border-radius:0;font-family:'helvetica_neueregular';letter-spacing:.04em}
.custom-form .form-control:focus,.custom-form .form-control:focus{border-bottom:1px solid #1b9bec }
.custom-form{margin-bottom:30px}
.form-title{margin-bottom:25px;font-family:'tata_aia_printbold'}
.custom-form-wrapper{margin-top:75px}


.fact-radio-wrapper{margin-top:2px;}
.fact-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*YES Radio Button*/
.yes-wrapper input[type='radio'] {display: none;}
.yes-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer;font-family: 'helvetica_neueregular';letter-spacing: 0.04em;font-size: 16px;color: #999999 }
.yes-wrapper input[type='radio'] + label:before{content:'\f00c'; width: 30px;height: 30px; position: absolute; top:5px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:4px 0; text-align: center; font-size:15px; background:#e7e9ec }
.yes-wrapper input[type='radio']:checked + label:before{background:#f26963 ; color:#ffffff ;}
/*NO Radio Button*/
.no-wrapper input[type='radio']{display: none;}
.no-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.no-wrapper input[type='radio'] + label:before{content:'\f00d'; width: 30px;height: 30px; position: absolute; top:5px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:4px 0; text-align: center; font-size:15px; background:#e7e9ec }
.no-wrapper input[type='radio']:checked + label:before{background:#f26963 ; color:#ffffff ;}
/*-------------common style--------------*/
span.dec-input input {
    display: inline-block;
}
.quetionaire-subhead {font-size: 16px;}
.quetionaire_block .custom-form {
    margin-bottom: 15px;
}

.quetionaire_block .custom-form .form-control {
    padding-bottom: 6px;
    height: 30px;
}




.custom-form .col-50 {
    float: left;
    margin-right: 1%;
    width: 48%;
}

label.form-label.lbl-full {
    width: 100%;
    clear: both;
}
.tbl_full th {
    text-align: center;
    word-wrap: break-word;
    vertical-align: top;
    padding: 5px;
}