/*Font-Family*/
@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_bold_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_bold_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printregular';
    src: url('../fonts/tata_aia_regular_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_regular_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Uniform Css*/
body{font-size:16px; letter-spacing: 0.02em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important; overflow-x: hidden;}
.pull-none{float: none!important}
.custom-form .form-control{border-top:1px solid transparent; border-right:1px solid transparent; border-left:1px solid transparent;  box-shadow: none; border-bottom:1px solid #e2e6e6; font-size:16px; height:40px; padding-left:0px; border-radius:0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em}
.custom-form .form-control:focus, .custom-form .form-control:focus{border-bottom:1px solid #1b9bec;}
.custom-form{margin-bottom:30px}
.form-title{margin-bottom: 25px; font-family: 'tata_aia_printbold';}
.custom-form-wrapper{margin-top:75px}
.form-title{font-size: 21px; font-weight:600}
.custom-btn .btn{height:48px; font-size:20px; border-radius: 0;}

/*Bootstrap Override*/
.btn, .btn:focus, .btn:hover{border:0px; outline: 0px;}
.btn{font-family: 'tata_aia_printbold'; }
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary{background: #263247}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default{background: #f26963; color:#ffffff; letter-spacing: 0.05em}

.gender-radio-wrapper{margin-top:2px;}
.gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.male-wrapper input[type='radio']{display: none;}
.male-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.male-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.male-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.female-wrapper input[type='radio']{display: none;}
.female-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.female-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.female-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*smoking non smoking check*/
.smoke-radio-wrapper{margin-top:2px;}
.smoke-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 10px;}
/*Male Radio Button*/
.smoker-wrapper input[type='radio']{display: none;}
.smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.smoker-wrapper input[type='radio'] + label:before{content:'\f183'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.non-smoker-wrapper input[type='radio']{display: none;}
.non-smoker-wrapper input[type='radio'] + label{padding-left: 60px; cursor: pointer}
.non-smoker-wrapper input[type='radio'] + label:before{content:'\f182'; width:40px; position: absolute; top:0px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.non-smoker-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}

/*------------navigation style-------------*/

.menu-panel .panels.panel-left{height:100vh;}
.menu-panel .dimming.open{height:100vh; opacity: .5;}
.menu-panel .close{height: 30px; width: 40px; opacity: .8; padding-right: 5px; font-size: 30px;}
.menu_wrap{padding:20px 0 20px 40px}
.menu_wrap ul{padding:0;margin:0}
.menu_wrap ul li{list-style:none;margin-bottom:15px;float:left;width:100%}
.menu_wrap ul li a{color:#4d4d4d}
.menu_wrap ul li a span{display:inline-block}
.menu_wrap .menu-ico{float:left;width:50px}
.menu_wrap .menu-txt{border-bottom:1px solid #e5e5e5;width:80%;float:right;padding-bottom:15px;font-size:16px;padding-top:15px;font-family:tata_aia_printregular}

/*----------Login form--------*/

.header_bg{background:rgba(0,0,0,0) url(../img/login-head-bg.png) no-repeat scroll center center;display:block;background-size:100% 100%;margin:0 auto}
.header_bg h1 {
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.header_bg h1 img {
    width: 100%;
}
.head-container{text-align:center}
.head-container img{display:inline-block}
section.form_area{display:block;float:left;margin-bottom:50px;margin-top:50px;width:100%}
.form_area h4{margin-bottom:0;text-align:center;font-size:1.78em;padding:20px 0}
.chat-input{padding:25px 0}
.form-login > span{color:#ccc;display:block;margin-bottom:20px;text-align:center}
.form_area .form-control{border-left:1px solid transparent;border-right:1px solid transparent;border-top:1px solid transparent;box-shadow:none;font-weight:300}
.forgot_password{display:block;font-weight:300;margin-bottom:35px;margin-top:10px;text-align:right;color:#1b9bec}
.forgot_password:hover{text-decoration:none;color:#1b9bec}
.form_area .wrapper .btn-primary{background-color:#171e2e;border:medium none;padding:10px 12px;-webkit-border-radius:0 important;border-radius:0}
.set-new-wrapper span{color:#ccc;display:block;margin-bottom:20px;text-align:center;font-family:'tata_aia_printregular'}
.set-new-wrapper h4.login-subtitle{margin-bottom:0;font-size:22px}
.login-no-padding{padding-right:0;padding-left:0}
.forgot-pass{margin-bottom:20px;margin-top:-25px;color:#1b9bec;font-size:14px;font-family:'helvetica_neueregular'}
.login-btn{margin-top:40px}

/*---------- End Login form--------*/


/*SetNew Password*/
.border-left{border-left:1px solid #e2e6e6}
.new-pwd-btn-wrap{margin-top:75px}
.header-nav-arrow{float:left}
.Fact-finder-header{padding:15px;width:100%}
.header-title{color:#1c2535;font-family:tata_aia_printregular;font-size:24px;font-weight:400}

/*-------Fact Finder------*/


.header-nav-arrow{float:left; margin-top: 18px;}
.Fact-finder-header{padding:15px;width:100%}
.header-title{color:#1c2535;font-family:tata_aia_printregular;font-size:24px;font-weight:400}
.header-nav-arrow .fa-bars{font-size:30px; color: #1c2535}
.header-nav-arrow .fa-angle-left::before{color:#1c2535;font-weight:700}
.time-line-head ul{top:0;left:0;position:absolute;margin:0;padding:0;text-align:center;width:100%}
.time-line-head ul li{list-style:outside none none;float:left;padding-right:6.2%}
.time-line-head ul li:last-child{padding-right:0}
.time-line-head ul li a{color:#70747b}
.time-line-head ul li a.anchor-active{color:#fff}
.time-line-head ul li a.anchor-active-completed{color: #fff;}
.time-line-head ul li a:hover{text-decoration:none}
.time-line-head ul li a span{font-size:13px}
.time_line{background:#1c2535 none repeat scroll 0 0;clear:both;display:block;padding:10px 0;width:100%;height:100px}
.time-line-count{background:#3c4350 none repeat scroll 0 0;border-radius:50%;display:block;height:30px;padding:7px;width:30px;margin:0 auto}
.time-active{background:#5e9732}
.time-line-completed {background: #5e9732; position: relative;}
.time-line-completed:before { content: "\f00c";position: absolute; font-family: FontAwesome;left: 7px; top: 5px; background: #5e9732;font-size: 14px;font-weight: 300;
}
.time-line-head:before{content:'';position:absolute;top:15px;left:20px;right:20px;border-top:1px solid #70747b;z-index:0}
.timeline-content{display:block;line-height:14px}





/*dashboard style*/
.header_top{margin-top:0px;margin-bottom:5px;width:100%;padding:0 15px 0 0}
img.main-logo{margin-left:0px}
.logo-block a {width: 50px;height: 50px;display: inline-block;color: #000; padding-top: 20px;}
.logo-block a i {font-size: 24px; padding-left: 15px;}
.bell-block {padding-top: 20px;}
.navigation-block{width:100%}
.navigation-block .navbar-default{background:rgba(255,255,255,1);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(50%,rgba(241,241,241,1)),color-stop(51%,rgba(237,237,237,1)),color-stop(100%,rgba(238,238,238,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);border:0 none;border-radius:0;margin-bottom:10px}
.navigation-block .navbar-default .navbar-nav > .active > a,.navigation-block .navbar-default .navbar-nav > .active > a:hover,.navigation-block .navigation-block .navbar-default .navbar-nav > .active > a:focus{background-color:#fff;border-top:2px solid #000;color:#555}
.navigation-block .nav > li > a{display:block;font-family:tata_aia_printregular;font-size:18px;padding:15px 72px 15px 40px;position:relative;text-transform: capitalize;}
header,section{clear:both}
.dashboard-block-1,.dashboard-block-2{clear:both;float:left;width:100%}
.dashboard-block-1 > ul{margin:0;padding:0}
.dashboard-block-1 ul li{float:left;height:140px;list-style:outside none none;padding:15px;width:18%;color:#fff}
.block-color-1{background:#19bcb9 none repeat scroll 0 0}
.dashboard-block-1 ul li:first-child{width:28%}
.block-color-2{background:#f26862 none repeat scroll 0 0}
.block-color-3{background:#fbb040 none repeat scroll 0 0}
.block-color-4{background:#cf5c7f none repeat scroll 0 0}
.block-color-5{background:#9a4d9e none repeat scroll 0 0}
.block-digit{color:#fff;font-family:helvetica_neueregular;font-size:72px;font-weight:lighter}
.block-color-1 span{display:inline-block;padding-right:10px}
.block-text > strong{color:#fff;font-family:tata_aia_printregular;font-size:36px;line-height:normal}
.block-text{font-family:tata_aia_printregular;font-size:24px}
.block-digit1{font-family:helvetica_neueregular;font-size:38px}
.dashboard-block-1 p{margin:0}
.block-text1{font-family:tata_aia_printregular;font-size:14px}
.block-text1 > strong{font-family:tata_aia_printregular;font-size:24px}
.business-tabs .nav-pills > li.active > a,.business-tabs .nav-pills > li.active > a:hover,.business-tabs .nav-pills > li.active > a:focus{background-color:#fff;border-bottom:2px solid #000;color:#000;font-weight:700}
.business-tabs .nav > li > a:hover,.business-tabs .nav > li > a:focus{background-color:transparent}
.business-tabs .nav-pills > li > a{border-radius:0;color:#b2b2b2;font-family:helvetica_neueregular;font-size:18px}
.dashboard-block-2{padding-top:0px}
.chart-block {padding-top: 35px;}
.business-tab-content{margin-top:40px}
.business-tab-content ul{margin:0;padding:0}
.business-tab-content ul li{list-style:outside none none}
.proposal-color{border-radius:50%;height:12px;width:12px}
.clr-1{background:#9fe3cd none repeat scroll 0 0}
.clr-2{background:#8ec348}
.clr-3{background:#348ea9}
.clr-4{background:#1cb3df}
.clr-5{background:#46cdcf}
.business-tab-content ul li span{display:inline-block;margin-right:24px}
.business-overview h2{color:#636770;font-family:tata_aia_printregular;font-size:30px;margin-top:10px}
.proposal-tab-block{clear:both;border-top:1px solid #f5f5f5;width:100%;padding:35px 0 20px;margin-top:35px;float:left}
.proposal-tab-links{width:20%;float:left;padding-left:15px}
.proposal-tab-links a span{display:block}
.pro-tab-count{color:#a0a0a0;font-size:36px;font-family:helvetica_neueregular;font-weight:lighter}
.pro-tab-head{font-size:18px;color:#4b4b4b;font-family:tata_aia_printregular}
.pro-tab-subhead{font-size:14px;color:#a3a3a3;font-family:tata_aia_printregular}
.pro-tab-border1{width:36px;border-bottom:2px solid #9fe3cd}
.pro-tab-border2{width:36px;border-bottom:2px solid #8ec348}
.pro-tab-border3{width:36px;border-bottom:2px solid #348ea9}
.pro-tab-border4{width:36px;border-bottom:2px solid #1cb3df}
.pro-tab-border5{width:36px;border-bottom:2px solid #46cdcf}
.business-image {padding: 0;}
section.content-block{position:relative}
.fav-icon-wrp{position:absolute;right:20px;bottom:50px}
.fav-icon-wrp button{width:80px;height:80px;padding-top: 5px; text-align:center;background:#c6442e;color:#fff;display:table-cell;border-radius:50%;vertical-align:middle;border: 0;box-shadow: 0px 0px 10px #000;}

/*-------Solutions page---------*/
.solutions-head{float:left;padding:20px;color:#fff; width: 100%;}
.head-protection{background:#f26963}
.head-wealth{background:#00b3e2}
.head-savings{background:#fbb040}
.head-child{background:#22bcb9}
.head-retirement{background:#9a4e9e}
.head-others{background:#5e9732}
.solutions-title h2{font-size:24px;font-family:tata_aia_printregular;margin:0}
.solutions-content{margin-top:45px;float:left;padding:0 15px;font-family: helvetica_neueregular;}
.solutions-ico{background:#fff;width:50px;color:#000;text-align:center;height:50px;float:right;border-radius:50%;display:table;}
.solutions-ico .fa{font-size:30px;display:table-cell;vertical-align:middle}
.solutions-head p{margin-top:25px;font-size:14px}
.solutions-space{margin-bottom:40px}
.solution-btn {text-align: center;}
.solution-btn .btn {padding: 6px 40px;margin: 0px 10px;font-family: helvetica_neueregular;}
.tab_wrp .tab-left-align{width:30%;float:left;border:0}
.tab_wrp .nav-tabs > li{width:100%}
.tab-content.tab-right-align{float:right;width:68%;margin-top:10px}
.tab-content-area ul li{width:100%;display:block;padding:10px 0 5px;float:left;border-bottom:1px solid #fff}
.tab-content-area ul li a{color:#fff;font-size:22px}
.tab_wrp .tab-content > .tab-pane{width:100%;float:left;padding:40px;height:591px;overflow-y:scroll}
.tab_wrp .nav-tabs > li.active{position:relative}
.tab_wrp .nav-tabs > li.active:after{position:absolute;content:"";border-right:20px solid #000;border-top:20px solid transparent;border-bottom:20px solid transparent;top:40px;right:-21px}
.tab_wrp .nav-tabs > li.color_1.active:after{border-right:20px solid #f26963}
.tab_wrp .nav-tabs > li.color_2.active:after{border-right:20px solid #00b3e2}
.tab_wrp .nav-tabs > li.color_3.active:after{border-right:20px solid #fbb040}
.tab_wrp .nav-tabs > li.color_4.active:after{border-right:20px solid #22bcb9}
.tab_wrp .nav-tabs > li.color_5.active:after{border-right:20px solid #9a4e9e}
.tab_wrp .nav-tabs > li.color_6.active:after{border-right:20px solid #5e9732}
.tab_wrp .nav-tabs > li.active > a, .tab_wrp .nav-tabs > li.active > a:hover, .tab_wrp .nav-tabs > li.active > a:focus {border: 0px solid #ddd;}
.sol-single-wrap{margin-top: 35px;}
.solution-content-single {
    width: 90%;
    margin: 0px auto;
}
ul.sol-single-top{background:#fbb040;padding:30px 60px;float:left;width:100%;margin-top:35px}
.sol-txt-content h2{color:#fff;font-size:46px;margin-bottom:75px;font-family:tata_aia_printregular}
.sol-txt-content h2 span{display:block;font-size:26px}
ul.sol-single-top li{width:50%;float:left}
.sol-txt-content p{color:#fff;font-size:16px}
.sol-txt-content p span{display:block;font-size:35px}
span.sol-single-img{width:240px;height:240px;background:#fff;float:right;border-radius:50%; text-align: center;display: table;}
span.sol-single-img .icon{display:table-cell;font-size:146px;vertical-align:middle; padding-top: 30px;}
.sol-single-bottom{float:left;width:100%}
.sol-single-bottom ul li{width:20%;float:left;text-align:center;padding:40px 0}
.sol-single-bottom li span{color:#000;font-size:18px;font-weight:700}
.icon_wrp {border: 2px solid #000;width: 50px;height: 50px;display: table !important;text-align: center;border-radius: 50%;margin: 0px auto 10px;}
.icon_wrp .icon {display: table-cell;vertical-align: middle;text-align: center;font-size: 25px;padding-top: 5px;}
.bottom_back{float:left;width:100%}
.bottom_back a{font-size:24px;color:#000;font-family:tata_aia_printbold}
.bottom_back a i{margin-right:15px}
   


/*----------leadpage----------*/
.lead-content{background:#ecedef;width:100%;float:left;padding-top:20px}
.lead-box-bg{background:#fff;margin-bottom:20px;float:left; width: 100%;}
.lead-head-ico{background:#f26862;width:40px;height:40px;border-radius:50%;text-align:center;font-size:20px;color:#fff;padding-top:6px;margin-right:15px}
.lead-head h2{font-size:18px;margin-top:0}
.lead-head-txt{border-top:1px solid #dedede;width:100%;padding:20px 15px;text-align:center}
.lead-head{padding:20px 15px;float:left;width:100%}
.btn-border{font-weight: 600; font-family:helvetica_neueregular;font-size:20px;background:#f26963;display:block;color:#fff;width:100%}
.lead-contact-details{color:#707070;font-size:16px}
span.date-created-lbl {
    font-weight: 500;
    margin-right: 10px;
}
.date-created {margin-top: 0px; line-height: 16px;}
span.date-on { color: #707070;}
.lead-contact-details i{margin-right:6px}
.margin-remove{margin-bottom: 0;}
span.librari-ico .icon{color:#fbb040}
span.lead-ico .icon{color:#19bcb9}
span.findfactor-ico .icon{color:#f26862}
span.librari-ico .icon,span.lead-ico .icon,span.findfactor-ico .icon{font-size:40px}
.ff-white .icon{color:#fff;font-size:55px;position:relative;top:12px}
.disable_btn{background:#E8E8E8;opacity:.6}
.lst-update{margin-top:35px;text-align:center;color:#a5a5a5;font-size:18px}
.lead-title-wrap { background: #f7f7f7;padding: 15px 0px;}
.red-clr{color: #f26963}
.skyblue-clr{color: #22bcb9}
.yellow-clr{color: #fbb040}
.green-clr{color: #9bca5a}
.fre-clr{color: #7ad3ea}
.purple-clr{color: #9a4e9e}
.blue-clr{color: #00b3e2}
.red-clr-bg{background:#f26963}
.skyblue-clr-bg{background: #22bcb9}
.yellow-clr-bg{background: #fbb040}
.green-clr-bg{background: #9bca5a}
.fre-clr-bg{background: #7ad3ea}
.purple-clr-bg{background: #9a4e9e}
.blue-clr-bg{background: #00b3e2}
ul.panel-top-switch {padding-top: 10px;}
.solutions-ico .icon {font-size: 30px;display: table-cell; vertical-align: middle; padding-top: 8px;}
.lead-box-title{font-family: tata_aia_printbold; font-size: 18px; color: #1e1e1e;}
/*--------create lead page----------*/
.lead_title{background:#1c2535;padding:15px 20px}
.lead_title h2{color:#fff;font-size:18px;font-family:tata_aia_printbold}
.lead-block-wrp{margin:35px 0}
.lead-btn{margin-top:35px}
/*----------srm pending page----------*/
.policy-heading, .policy-numbers{display:block;font-size:14px}
span.policy-numbers{font-size:14px}
.policy-number-block{display:inline-block}
.policy-number-block:first-child{margin-right:20px}
.policy-heading{color:#000}
/*---------Available Download------------*/

.dash-available-download .insured-1{margin-top:5px}
.dash-available-download .insured-box-shadow{box-shadow:0 0 10px #979797}
.dash-available-download .sis-check-icon{margin-top:8px;color:#fff;font-size: 25px;}
.dash-available-download .bs-callout{margin:15px 0 0;border:0;-webkit-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);-moz-box-shadow:0 0 5px 3px rgba(156,156,156,0.37);box-shadow:0 0 5px 3px rgba(156,156,156,0.37);padding:15px}
.dash-available-download .bs-callout-yellow-active{background-color:#fbb040}
.dash-available-download .bs-callout-yellow-active .number-circle{background:#fff;border:1px solid #fff}
.dash-available-download .bs-callout-yellow-active .insured-1{color:#fff}
.dash-available-download .bs-callout-green-active{background-color:#8dc63f}
.dash-available-download .bs-callout-green-active .number-circle{background:#fff;border:1px solid #fff}
.dash-available-download .bs-callout-green-active .insured-1{color:#fff}
.dash-available-download .insured-box-1{border-left:5px solid #fbb040}
.dash-available-download  .insured-box-2{border-left:5px solid #8dc63f }
.dash-available-download .insured-box-1 span{display:block}
.dash-available-download .insured-box-2 span{display:block}
.sub-head{font-size:16px;color:#707070;font-family:helvetica_neueregular}
.dash-available-download span{color:#707070}
.dash-available-download .bs-callout-yellow-active span,.dash-available-download .bs-callout-green-active span{color:#fff}
/*--------View Lead Details Page--------*/

.lead-details-head{background:#1c2535;padding:20px 0}
.lead-tab-links span{display:block;text-align:center;color:#788192;font-size:16px;font-family:tata_aia_printregular}
.lead-details-tab{border-left:1px solid #444e61}
.lead-details-head .fa.fa-book{font-size:42px}
.lead-details-head .media-heading{font-size:36px;color:#fff;font-family:tata_aia_printregular}
.lead-details-head p{color:#fff;font-family:tata_aia_printregular}
.lead-details-content .head{width:100%;padding:30px 15px;color:#fff;font-family:tata_aia_printbold;font-size:36px;display:table}
.lead-details-content .head h2{margin:0;display:table-cell;vertical-align:middle;margin:22px 0 0; font-family: tata_aia_printregular; font-size: 36px;}
.lead-details-content .plan-color1 .head{background:#f26862}
.lead-details-content .plan-color2 .head{background:#fbb040}
.lead-details-content .plan-color3 .head{background:#19bcb9}
.lead-details-content .plan-color4 .head{background:#cf5b7e}
.lead-details-content .plan-color5 .head{background:#9c4da0}
.lead-details-content .plan-color6 .head{background:#00b3e2}
.lead-details-content{margin-top:0px}
.lead-details-content .item-list{padding:15px 10px 0;width:100%;min-height:178px}
.lead-details-content .item-list li{list-style:none;padding:5px 15px}
.lead-details-content .item-list li:last-child{padding-bottom:0}
.lead-details-content .item-list li a{color:#707070;border:1px solid #d6d6d6;display:block;text-align:center;padding:8px;border-radius:25px}
.lead-box .plan{box-shadow:0 0 11px rgba(0,0,0,.3);float:left;width:100%}
.plan.plan-color1{border-bottom:2px solid #f26862}
.plan.plan-color2{border-bottom:2px solid #fbb040}
.plan.plan-color3{border-bottom:2px solid #19bcb9}
.plan.plan-color4{border-bottom:2px solid #cf5b7e}
.plan.plan-color5{border-bottom:2px solid #9c4da0}
.plan.plan-color6{border-bottom:2px solid #00b3e2}
/*-----------My Tool Kits------------------*/
.lead-details-content.my-tool-kits .head h2{font-size:24px}
.lead-details-content.my-tool-kits .head h2 span{display:block;color:#fff}
.lead-details-content.my-tool-kits .item-list{min-height:118px}
.top-space-20{margin-top:20px}
/*----------lead history details-------------*/

.lead-details-history-left{padding:0}
.lead-details-history-left .panel-body{padding:0}
.lead-details-history-left .panel-top-area{background:#f7f7f7;padding:0 30px}
.lead-details-history-left .tab-content{padding:0 30px 0 40px;margin-top:50px}
.lead-details-history-left .nav-tabs > li.active > a,.lead-details-history-left .nav-tabs > li.active > a:hover,.lead-details-history-left .nav-tabs > li.active > a:focus{border-bottom:4px solid #1a2c43;color:#000}
.lead-details-history-left .nav-tabs{border:0}
.lead-details-history-left .nav-tabs > li > a{color:#858585;font-size:18px;border:0}
.media-left .media-object .icon{display:table-cell;vertical-align:middle;font-size:20px}
.media-left .media-object{display:table;background:#f2f2f2;width:50px;height:50px;text-align:center}
ul.panel-top-switch li{float:left;margin-right:10px}
.panel-top-switch .icon{font-size: 35px;}
.lead-details-history-right{padding-left:0}
.lead-details-history .media{margin-bottom:90px}
.media-body p{color:#707070}
.btn-history-1{background:#9bca5a;border-radius:25px;padding:10px 20px}
.btn-history-2{background:#7ad3ea;border-radius:25px;padding:10px 20px}
.date-block-divider{margin:0 10px}
/*-----------my account---------*/
.myaccount-head-bg .img-responsive{width:100%}
.myaccount-block{background:#fff;box-shadow:0 0 20px rgba(0,0,0,.5);position:relative;text-align:center;top:-100px;padding:50px 0}
.dash-myaccount{position:relative}
.dash-change-pswd a{color:#ed6666;font-size:20px;border:2px solid #e4e4e4;padding:15px 40px;font-family:helvetica_neueregular}
.dash-change-pswd{margin-top:60px;display:block;margin-bottom:20px}
.my-acc-head{margin-top:0}
.star-rating {display: inline-block;background: #ed6666;padding: 10px 40px;border-radius: 25px;color: #fff;}
.myaccount-rating {margin-top: -35px;}
/*-------------App Tracker tab common style-----------*/
.main-tab .main-tab-ul {margin:0; padding:0; list-style-type: none; overflow-x: scroll; white-space: nowrap; width: 100%; background: #1c2535;}
.main-tab .main-tab-ul li {margin:0; padding:0; display: inline-block;}
.main-tab .main-tab-ul li a{margin:0; padding:0; display: block; font-size:18px; font-family: 'tata_aia_printbold'; color:#63676f; padding:23px 20px}
.main-tab .main-tab-ul li.active a{border-bottom:5px solid #f26963}
/*--------app tracker page---------*/
.lead_tab_wrp .main-tab .main-tab-ul li a{padding:23px 25px}
.lead_tab_wrp.policy_tracker .main-tab .main-tab-ul li a{padding:23px 40px}
.lead-tabs span{display:block}
.main-tab .main-tab-ul li.active a span{color:#fff}
.lead-tab-number{font-size:36px;font-family:helvetica_neueregular}
span.lead-tab-head{font-family:tata_aia_printbold;font-size:22px}
/*-------------favicon code---------*/
.modal-blackoverlay{ position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:2;}
.popup_wrap{position:absolute;top:0;left:0;width:100%;height:100vh}
.popup_content{background:rgba(28, 37, 53, .95);width:100%;float:left;position:relative;height: 100%;}
.popup_content ul{width:105px;display:block;padding:10px;text-align:center;float:right;position:absolute;right:40px;bottom:40px}
.popup_content ul li{margin-bottom:15px;text-align:center}
.popup_content ul li .popup-ico{width:75px;height:75px;border-radius:50%;font-size:37px;padding-top:15px;margin:0 auto 5px}
.popup_content ul li a{text-decoration:none;font-size:14px;word-wrap:break-word}
.popup_content ul li span{display:block;text-align:center;color:#fff}
span.popup-ico.red-clr-bg.cross-btn {width: 60px;height: 60px;padding-top: 3px;}
.cross-btn .icon {font-size: 25px;}
/*-----------policy tracker----------*/
span.bold-txt {
    font-size: 25px;
    margin: 8px 0px;
    display: block;
    font-weight: 500;
    color: #5e9732;
}


/*App Tracker Css*/
.tab-innerCarouselWrap.tab-content{overflow: auto;}
.tab-innerCarouselWrap .tab-pane, .tab-innerCarouselWrap .tab-content-area, .tab-innerCarouselWrap .lead-content{height:100%;}
.tab-innerCarouselWrap .tracker-carousel .carousel-demo{display: block; margin-top: 0px; height:100%;}
.tab-innerCarouselWrap .tracker-carousel .carousel-demo ul{border:1px solid orange; width:auto; max-width: none;}
.tab-innerCarouselWrap .rn-carousel-indicator span:last-child{color:transparent;}
.tab-innerCarouselWrap .tab-content-area .lead-content{padding-top:0px; position: relative}
.tab-innerCarouselWrap .tracker-carousel, .tab-innerCarouselWrap .carousel5{height:100%;}
.tab-innerCarouselWrap .carousel-pagination{position: absolute; bottom:50px; left:0px; width:100%;}
.rn-carousel-indicator span{font-size:40px; margin: 0px 5px}
.date-created .date-created-lbl, .date-created .date-on{font-size:16px;}
.tab-innerCarouselWrap .carousel5 li{background: none}
/*----------pdf container---------*/
.pdf-logo-block{text-align:center;width:100%}
footer.pdf-container-block-links{text-align:center}
footer.pdf-container-block-links,.pdf-logo-block{text-align:center;border-top:1px solid #000;border-bottom:1px solid #000;padding:15px 0}
.pdf-container-block{min-height:calc(100vh - 131px);min-height:-webkit-calc(100vh - 131px);overflow-y: scroll;}
footer.pdf-container-block-links .btn{height:40px;padding:0 30px}
/*---------------Media Query--------------*/
@media (max-width:768px) {
.time-line-head ul li{padding-right:3%}
.navigation-block .nav > li > a{padding:15px 30px}
}
    
    