/*Font-Family*/
@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_bold_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_bold_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printbold';
    src: url('../fonts/tata_aia_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tata_aia_printregular';
    src: url('../fonts/tata_aia_regular_print-webfont.woff2') format('woff2'),
         url('../fonts/tata_aia_regular_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Uniform Css*/
body{font-size:16px; letter-spacing: 0.02em; font-family: 'helvetica_neueregular'!important; margin:0px; background: #ffffff}
.application-form-wrapper .pull-none{float: none!important}
.application-form-wrapper .custom-form .form-control{border:0;  box-shadow: none; border-bottom:1px solid #e2e6e6; font-size:16px; height:40px; padding-left:0px; border-radius:0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em;color:#b0b0b0}
.application-form-wrapper .custom-form .form-control:focus, .application-form-wrapper .custom-form .form-control:focus{border-bottom:1px solid #1b9bec;}
.application-form-wrapper .custom-form{margin-bottom:30px}
.application-form-wrapper .form-title{margin-bottom: 25px; font-family: 'tata_aia_printbold'}
.application-form-wrapper .custom-form-wrapper{margin-top:40px}
.application-form-wrapper .form-title{font-size: 21px; font-weight:600}
.application-form-wrapper .custom-btn .btn{height:48px; font-size:20px; border-radius: 0}
.application-form-wrapper .custom-drp{position: relative;}
.application-form-wrapper .custom-drp .form-control{padding-right:25px;}
.application-form-wrapper .custom-drp:before{content:'\f078'; position: absolute; top:7px; right:4px; font-size:18px; color:#666666; font-family:'FontAwesome'}
.application-form-wrapper .form-btn-wrap{margin-top:55px}
.application-form-wrapper .form-label{font-family: 'tata_aia_printbold'; font-size:14px; color:#6e6e6e}
.application-form-wrapper .main-form-title {margin-bottom:15px;}
.application-form-wrapper .main-form-title .form-label{font-size:20px; color:#000000;}
.application-form-wrapper select{-webkit-appearance:none; appearance:none;}
.application-form-wrapper .error-msg{font-size:14px; font-family: 'tata_aia_printregular'; color:#de1e1e; line-height:14px; margin-top: 5px; min-height:16px; opacity: 0;}

/*Bootstrap Override*/
.application-form-wrapper .btn, .application-form-wrapper .btn:focus, .application-form-wrapper .btn:hover{border:0px; outline: 0px;}
.application-form-wrapper .btn{font-family: 'tata_aia_printbold'; }
.application-form-wrapper .btn-primary, .application-form-wrapper .btn-primary:hover, .application-form-wrapper .btn-primary:focus, .application-form-wrapper .btn-primary{background: #263247}
.application-form-wrapper .btn-default, .application-form-wrapper .btn-default:hover, .application-form-wrapper .btn-default:focus, .application-form-wrapper .btn-default{background: #f26963; color:#ffffff; letter-spacing: 0.05em}

/* Application Form */
/* Temp Files */
.app-page-header{height:50px; border-bottom:1px solid #000000; position:fixed; top:0px; left:0px; width:100%; background: #ffffff; z-index: 1}
.page-loader{height:30px; background: #13bfb6; position:fixed; top:50px; left:0px; width:100%; z-index: 1}
.main-tab-wrapper{height:67px; background: #1c2535;}

/*Main Tab Css*/
.application-form-wrapper .application-form-inner-tab-wrapper{display: inline-block; width:100%; height:100%}
/*
.application-form-wrapper .application-form-inner-tab-content{height: 54vw; overflow: scroll}
.application-form-wrapper .tab-nav{height: 54vw; overflow-y: scroll}
*/
.application-form-wrapper .tab-nav{width:100px; float: left}
.application-form-wrapper .tab-nav .tab-ul{display: block; margin: 0; padding: 0; list-style-type: none}
.application-form-wrapper .tab-nav .tab-ul li{display: block; margin:0; padding:0; position:relative}
.application-form-wrapper .tab-nav .tab-ul a{display: block; font-size:14px; font-family: 'tata_aia_printregular'; line-height: 16px; padding:27px 15px; color:#cdced0; word-break: break-all;}
.application-form-wrapper .tab-nav .tab-ul a:hover, .application-form-wrapper .tab-nav li a:focus{text-decoration: none; outline:0px;}
.application-form-wrapper .tab-nav .tab-ul li.active a{-webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75); color:#f26963!important}
.application-form-wrapper .tab-nav .tab-ul li.active:first-child a{-webkit-box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important; -moz-box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important; box-shadow: 2px 3px 5px 0px rgba(171,171,171,1)!important;}


.application-form-wrapper .tab-nav .tab-ul li.active:before{content:''; position: absolute; top:0; right:-11px; height:100%; width:17px; background: #ffffff;}
.application-form-wrapper .application-form-inner-tab-content{width:calc(100% - 100px); width:-webkit-calc(100% - 100px); float: left; height:79vh; overflow-y:scroll;}
.application-form-wrapper .upload-photo-wrap{color:#b0b0b0; border-bottom:1px solid #e2e6e6; padding:6px 0px; margin-top:2px}
.application-form-wrapper .upload-photo-wrap .camera-placeholder{font-family: 'helvetica_neueregular'; letter-spacing: 0.02em}
.application-form-wrapper .camera-action{float: right; font-size:18px; color:#4c4c4c; margin-right:5px}
.application-form-wrapper .form-control-hint{font-size:14px; color:#b0b0b0; letter-spacing: 0.02em}
.application-form-wrapper .application-form-inner-tab-content{-webkit-box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); -moz-box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); padding:0 10px 100px 25px; min-height:250px}

/*Main Tab*/
.main-tab .main-tab-ul {margin:0; padding:0; list-style-type: none; overflow-x: scroll; white-space: nowrap; width: 100%; background: #1c2535;position: fixed; top:80px; left:0px; width:100%; z-index: 1}
.main-tab .main-tab-ul li {margin:0; padding:0; display: inline-block;}
.main-tab .main-tab-ul li a{margin:0; padding:0; display: block; font-size:18px; font-family: 'tata_aia_printbold'; color:#63676f; padding:23px 20px}
.main-tab .main-tab-ul li.active a{border-bottom:5px solid #f26963}
.main-tab .main-tab-ul li a:focus, .main-tab .main-tab-ul li a:hover{outline:0px; text-decoration: none;}

/*Tab Content Css*/
.application-form-wrapper .tab-content{margin-top:156px}

/*Nominees Tab*/
.application-form-wrapper .nominee-tabs li a {padding:42px 18px}
.application-form-wrapper .application-form-title{font-size:14px; font-family: 'tata_aia_printregular'; color:#6e6e6e; margin:15px 0 30px 0;}
.application-form-wrapper .nominee-application-form-wrap{border:1px solid #dadada; border-left:5px solid #9a4e9e; padding:20px 40px 0 40px; position: relative}
.application-form-wrapper .delete-button{position: absolute; top:5px; right:5px; color:#babdc2; padding: 0px 5px; font-size:22px;}
.application-form-wrapper .gender-radio-wrapper{margin-top:2px;}
.application-form-wrapper .gender-wrapper{position: relative; padding: 10px 0; height:42px; display: inline-block; margin-right: 4%;}
/*Male Radio Button*/
.application-form-wrapper .male-wrapper input[type='radio']{display: none;}
.application-form-wrapper .male-wrapper input[type='radio'] + label{padding-left: 50px; cursor: pointer}
.application-form-wrapper .male-wrapper input[type='radio'] + label:before{content:'\53'; width:40px; position: absolute; top:0px; left:0; font-family: "good-solution-icon"; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.application-form-wrapper .male-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
/*Female Radio Button*/
.application-form-wrapper .female-wrapper input[type='radio']{display: none;}
.application-form-wrapper .female-wrapper input[type='radio'] + label{padding-left: 50px; cursor: pointer}
.application-form-wrapper .female-wrapper input[type='radio'] + label:before{content:'\52'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec}
.application-form-wrapper .female-wrapper input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}
.application-form-wrapper .nominess-btn{margin-top:20px;}

/*Personal Info*/
.application-form-wrapper .check-box-wrap{position: relative;}

.application-form-wrapper .check-box-wrap input[type='checkbox']{display: none;}
.application-form-wrapper .check-box-wrap input[type='checkbox'] + label{padding-left:45px; cursor:pointer; color:#adadad; letter-spacing: 0.02em;}
.application-form-wrapper .check-box-wrap input[type='checkbox'] + label:before{content:'\f096'; font-size:35px; position: absolute; top:-6px; left:0px; font-family:'FontAwesome';}
.application-form-wrapper .check-box-wrap input[type='checkbox']:checked + label:before{content:'\f046';}

.application-form-wrapper .tick-radio-btn-wrap{height:42px; float:left; margin-right:4%;}



.application-form-wrapper .tick-radio-btn-wrap input[type='radio']{display: none;}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio'] + label{padding:10px 0 10px 60px; cursor: pointer; position: relative}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio'] + label:before{content:'\4c'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec; color:#ffffff;}
.application-form-wrapper .tick-radio-btn-wrap input[type='radio']:checked + label:before{background:#f26963; color:#ffffff;}

.application-form-wrapper .blank-checkbox{display: inline-block; margin-top:10px}
.application-form-wrapper .add-more-address-btn {display: inline-block; width:135px; float: right; margin-top:0px;}
.application-form-wrapper .add-address-checkboxwrap{margin-top:15px;}
.application-form-wrapper .blank-checkbox input[type='checkbox'] + label:before{top:-8px}
.application-form-wrapper .blank-checkbox input[type='checkbox']:checked + label:before{top:-8px}
.application-form-wrapper .right-align-checkbox{position: relative;}

.application-form-wrapper .right-align-checkbox input[type='checkbox']{display: none;}
.application-form-wrapper .right-align-checkbox input[type='checkbox'] + label{padding:7px 0 7px 0; cursor:pointer; color:#6e6e6e; letter-spacing: 0.02em; word-break: break-word; padding-right: 25px}
.application-form-wrapper .right-align-checkbox input[type='checkbox'] + label:before{content:'\f096'; font-size:35px; position: absolute; top:-6px; right:0px; font-family:'FontAwesome';}
.application-form-wrapper .right-align-checkbox input[type='checkbox']:checked + label:before{content:'\f046'; right:-5px}

/*Existing Policy*/
.application-form-wrapper .existing-policy-tile{border:1px solid #dadada; padding:20px 15px 0 15px; margin-bottom:8px}
.application-form-wrapper .rupppe-textbox .form-control{font-family:'FontAwesome','helvetica_neueregular'}
.application-form-wrapper .policy-tile-count{border:1px solid #c2c2c2; display: inline-block; border-radius: 15px; width: 30px; text-align: center; padding: 3px 0; margin-top:20px}
/*Borders*/
.application-form-wrapper .orange-border{border-left:5px solid #fbb040!important}
.application-form-wrapper .pink-border{border-left:5px solid #cf5c7f!important}
.application-form-wrapper .maroon-border{border-left:5px solid #9a4e9e!important}
.application-form-wrapper .yellow-border{border-left:5px solid #ffd200!important}
.application-form-wrapper .skyblue-border{border-left:5px solid #19bcb9!important}
.application-form-wrapper .purple-border{border-left:5px solid #a234f7!important}
.application-form-wrapper .ligthred-border{border-left:5px solid #f56262!important}


.application-form-wrapper .custom-drp .form-control option{font-family:'FontAwesome','helvetica_neueregular';}
.application-form-wrapper .familyDetailsul ul{display: block; padding: 0px; margin: 0px; list-style-type: none; margin-top:35px}
.application-form-wrapper .familyDetailsul li{display: block; margin:0px; padding:0px; font-family: 'tata_aia_printbold'; font-size: 14px; margin-bottom:5px}
.application-form-wrapper .application-shorttxtbox{display: inline-block; width:250px;}
.application-form-wrapper .myapplicationdate-wrap{margin-top:20px;}
.application-form-wrapper .application-shorttxtbox .form-control{border: 0; box-shadow: none; border-bottom: 1px solid #e2e6e6; font-size: 16px; height: 40px; padding-left: 0px; border-radius: 0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em; color: #b0b0b0;}
.application-form-wrapper .application-shortpara{font-family: 'tata_aia_printbold'; font-size:14px}


/*Question Wrapper*/
.question-outerwrap{padding:0px 20px;}
.application-form-wrapper .question-wrap{padding:50px 38px; position: relative; margin-bottom:30px;}
.application-form-wrapper .question-text{font-size:14px; color:#757575; font-family: 'tata_aia_printregular'; word-break: keep-all;}
.application-form-wrapper .compulsory-mark sup i{color:#de1e1e; font-size:7px;}
.application-form-wrapper .answer-buttons-wrap{float: right; position: absolute; right:-18px; top:50%; margin-top:-50px}
.application-form-wrapper .answer-yes, .application-form-wrapper .answer-no{position: relative; display: block; margin-right:0px; float: none;}
.application-form-wrapper .answer-yes{margin-bottom:15px;}
.application-form-wrapper .answer-no input[type='radio'] + label:before{content:'\4d';}
.application-form-wrapper .answer-yes input[type='radio'] + label, .application-form-wrapper .answer-no input[type='radio'] + label{padding:20px;}
/*Answer Active*/
.application-form-wrapper .answer-yes input[type='radio']:checked + label:before{background: #16dd6f; color:#ffffff}
.application-form-wrapper .answer-no input[type='radio']:checked + label:before{background: #142942; color:#ffffff}
.question-lbl{margin:5px 20px 0 0px; float:left;}
.questionhiddenbtn-wrapper{margin-top:15px; color:#de1e1e}
.application-form-wrapper .normalradio-wrap{float: left; position: relative}
.application-form-wrapper .normalradio-wrap input[type='radio']{display: none;}
.application-form-wrapper .normalradio-wrap input[type='radio'] + label{padding: 6px 0 0 40px; cursor: pointer; margin-right:15px}
.application-form-wrapper .normalradio-wrap input[type='radio'] + label:before{content:'\f10c'; width:25px; position: absolute; top:-5px; left:0; font-family:'FontAwesome'; border-radius: 20px; padding:5px 0; text-align: center; font-size:25px; color:#b9b9b9}
.application-form-wrapper .normalradio-wrap input[type='radio']:checked + label:before{content:'\f192'; color:#01d501;}
.questiontext-box-wrap{float: left; width:30%;}
.questiontext-box-wrap input[type="text"]{border: 0; box-shadow: none; border-bottom: 1px solid #e2e6e6; font-size: 16px; height: 26px; padding-left: 0px; border-radius: 0; font-family: 'helvetica_neueregular'; letter-spacing: 0.04em; color: #b0b0b0; width:100%}
.fixed-width-lbl{min-width:88px;}
.grey-lbl{color:#757575; font-family: 'tata_aia_printregular'; word-break: keep-all;}
.grey-question-wrap{margin-bottom:15px;}
.sub-question{margin-top:15px; }
.sub-questions-radio{padding-top:5px;}
.application-form-wrapper .red-text{color:#de1e1e; margin-top:15px;}
.application-form-wrapper .pagination-wrap {margin-top: 50px}
.application-form-wrapper .pagination-wrap ul{margin: 0; padding: 0; list-style-type: none; text-align: center; display: block}
.application-form-wrapper .pagination-wrap ul li{padding:0; margin:0; display: inline-block}
.application-form-wrapper .pagination-wrap ul li a{display: block; padding:5px; margin:2px; border-radius:6px; background: #d3d4d5}
.application-form-wrapper .pagination-wrap ul li .active-page{background: #f26862}


/*Set Height 100%*/
.application-form-wrapper .tab-pane, .application-form-wrapper .tab-content-wrap, .application-form-wrapper .application-form-inner-content, .application-form-wrapper .application-form-inner-tab-content{height: 100%;}

/*SMR Application*/
.application-form-wrapper .smr-content, .application-form-wrapper .smr-content-ul li, .application-form-wrapper .table-responsive{font-family: 'tata_aia_printregular'; font-size:14px;}

/*Carausel Slider*/
.application-form-wrapper .carousel-demo{margin-top:0; display: block}
.application-form-wrapper .carousel-demo ul[rn-carousel]{width:100%}



@media screen and ( max-width:925px){
.application-form-wrapper .application-form-inner-tab-content{width:88%;}
}

@media screen and ( max-width:850px){
.application-form-wrapper .application-form-inner-tab-content{width:87%;}
}

@media screen and ( max-width:790px){
.application-form-wrapper .male-wrapper input[type='radio'] + label{font-size:14px;}
.application-form-wrapper .female-wrapper input[type='radio'] + label{font-size:14px;}    
.application-form-wrapper .application-form-inner-tab-content{width:86%;}
}